In [1]:
# Import dependencies
import pandas as pd
# from pyxlsb import open_workbook

# from config import postgres_password
# from sqlalchemy import create_engine


# Extract Data Into DataFrames For Temperature

### NASA Climate Dataset

In [2]:
# Import data file
# This graph illustrates the change in global surface temperature relative to 1951-1980 average temperatures
nasa_file = "raw_data/nasa_land_ocean_temp.csv"

nasa_temp = pd.read_csv(nasa_file)
display(nasa_temp.head(5))
display(nasa_temp.tail(5))

   Year  No_Smoothing  Lowess(5)
0  1880         -0.16      -0.08
1  1881         -0.07      -0.12
2  1882         -0.10      -0.16
3  1883         -0.16      -0.19
4  1884         -0.27      -0.23

     Year  No_Smoothing  Lowess(5)
136  2016          1.02       0.88
137  2017          0.93       0.91
138  2018          0.85       0.95
139  2019          0.98       0.98
140  2020          1.02       1.01

# Transform Data for Energy and Emission

### NASA Climate Dataset

In [3]:
# Extract the wanted columns
list(nasa_temp.columns)

['Year', 'No_Smoothing', 'Lowess(5)']

In [4]:
# Lowess smooths the data, no_smoothing 
nasa_temp_df = nasa_temp[["Year", "No_Smoothing", "Lowess(5)"]]
nasa_temp_df.head()

   Year  No_Smoothing  Lowess(5)
0  1880         -0.16      -0.08
1  1881         -0.07      -0.12
2  1882         -0.10      -0.16
3  1883         -0.16      -0.19
4  1884         -0.27      -0.23

In [5]:
# Extract year from 1965 to the most recent
nasa_temp_new_df = nasa_temp_df[nasa_temp_df["Year"]>1964]
nasa_temp_new_df.head()

    Year  No_Smoothing  Lowess(5)
85  1965         -0.11      -0.05
86  1966         -0.06      -0.06
87  1967         -0.02      -0.05
88  1968         -0.08      -0.03
89  1969          0.05      -0.02

In [6]:
nasa_temp_new_df.reset_index(drop=True).head()

   Year  No_Smoothing  Lowess(5)
0  1965         -0.11      -0.05
1  1966         -0.06      -0.06
2  1967         -0.02      -0.05
3  1968         -0.08      -0.03
4  1969          0.05      -0.02

### Kaggle Temperature Change Dataset

In [7]:
# Import kaggle data
kaggle_temp = "raw_data/Environment_Temperature_change_E_All_Data_NOFLAG.csv"
kaggle_temp = pd.read_csv(kaggle_temp, encoding="ISO-8859-1")
kaggle_temp.head(5)

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [8]:
cleaned_temp = kaggle_temp.drop(columns=['Area Code', 'Months Code', 'Element Code', 'Y1961', 'Y1962','Y1963', 'Y1964'])
cleaned_temp.head(5)

,Area,Months,Element,Unit,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,Afghanistan,January,Temperature change,°C,1.868,3.629,-1.432,0.389,-2.298,0.804,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,Afghanistan,January,Standard Deviation,°C,1.950,1.950,1.950,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,Afghanistan,February,Temperature change,°C,-0.096,3.397,0.296,-2.055,-3.167,1.809,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,Afghanistan,February,Standard Deviation,°C,2.597,2.597,2.597,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,Afghanistan,March,Temperature change,°C,-0.909,-0.069,-0.759,0.496,2.481,-0.915,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [9]:
# Extract only temperature change data
new_kaggle = cleaned_temp[cleaned_temp["Element"]=="Temperature change"]
new_kaggle

,Area,Months,Element,Unit,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,Afghanistan,January,Temperature change,°C,1.868,3.629,-1.432,0.389,-2.298,0.804,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
2,Afghanistan,February,Temperature change,°C,-0.096,3.397,0.296,-2.055,-3.167,1.809,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
4,Afghanistan,March,Temperature change,°C,-0.909,-0.069,-0.759,0.496,2.481,-0.915,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234
6,Afghanistan,April,Temperature change,°C,-1.816,-1.192,-1.496,-0.590,-0.770,1.439,...,2.591,1.712,1.417,-0.052,0.585,1.589,0.980,1.252,1.442,0.899
8,Afghanistan,May,Temperature change,°C,-0.190,-0.192,-1.307,-1.841,-0.977,1.864,...,1.419,3.643,0.909,1.201,0.959,1.862,3.246,3.280,0.855,0.647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9646,OECD,DecJanFeb,Temperature change,°C,-0.732,-0.274,-0.165,-0.018,-0.188,0.400,...,1.272,0.770,1.709,1.327,0.686,1.307,2.636,1.884,1.453,1.527
9648,OECD,MarAprMay,Temperature change,°C,-0.110,-0.078,-0.334,0.285,-0.080,-0.249,...,1.742,0.390,1.442,0.475,0.778,1.191,1.928,1.237,1.241,1.352
9650,OECD,JunJulAug,Temperature change,°C,-0.495,-0.015,-0.184,-0.437,0.022,0.240,...,1.012,0.954,1.061,1.119,0.779,0.958,1.303,1.081,1.078,1.078
9652,OECD,SepOctNov,Temperature change,°C,-0.203,-0.295,0.321,0.220,-0.027,-0.146,...,0.958,1.106,0.885,1.041,0.999,1.670,1.535,1.194,0.581,1.233
9654,OECD,Meteorological year,Temperature change,°C,-0.385,-0.166,-0.090,0.013,-0.068,0.061,...,1.246,0.805,1.274,0.991,0.811,1.282,1.850,1.349,1.088,1.297

In [10]:
new_kaggle.reset_index(drop=True)

,Area,Months,Element,Unit,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,Afghanistan,January,Temperature change,°C,1.868,3.629,-1.432,0.389,-2.298,0.804,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,Afghanistan,February,Temperature change,°C,-0.096,3.397,0.296,-2.055,-3.167,1.809,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
2,Afghanistan,March,Temperature change,°C,-0.909,-0.069,-0.759,0.496,2.481,-0.915,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234
3,Afghanistan,April,Temperature change,°C,-1.816,-1.192,-1.496,-0.590,-0.770,1.439,...,2.591,1.712,1.417,-0.052,0.585,1.589,0.980,1.252,1.442,0.899
4,Afghanistan,May,Temperature change,°C,-0.190,-0.192,-1.307,-1.841,-0.977,1.864,...,1.419,3.643,0.909,1.201,0.959,1.862,3.246,3.280,0.855,0.647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4823,OECD,DecJanFeb,Temperature change,°C,-0.732,-0.274,-0.165,-0.018,-0.188,0.400,...,1.272,0.770,1.709,1.327,0.686,1.307,2.636,1.884,1.453,1.527
4824,OECD,MarAprMay,Temperature change,°C,-0.110,-0.078,-0.334,0.285,-0.080,-0.249,...,1.742,0.390,1.442,0.475,0.778,1.191,1.928,1.237,1.241,1.352
4825,OECD,JunJulAug,Temperature change,°C,-0.495,-0.015,-0.184,-0.437,0.022,0.240,...,1.012,0.954,1.061,1.119,0.779,0.958,1.303,1.081,1.078,1.078
4826,OECD,SepOctNov,Temperature change,°C,-0.203,-0.295,0.321,0.220,-0.027,-0.146,...,0.958,1.106,0.885,1.041,0.999,1.670,1.535,1.194,0.581,1.233
4827,OECD,Meteorological year,Temperature change,°C,-0.385,-0.166,-0.090,0.013,-0.068,0.061,...,1.246,0.805,1.274,0.991,0.811,1.282,1.850,1.349,1.088,1.297

In [11]:
# Drop quarters and Meteorological year
# A typical meteorological year (TMY) is a set of meteorological data with data values for every hour 
# in a year for a given geographical location. The data are selected from hourly data in a longer time period 
# (normally 10 years or more). For each month in the year the data have been selected from the year that was considered most 
# "typical" for that month. For instance, January might be from 2007, February from 2012 and so on.
delete_me = new_kaggle[new_kaggle['Months'] == "MarAprMay"].index
new_kaggle.drop(delete_me , inplace=True)
delete_me1 = new_kaggle[new_kaggle['Months'] == "JunJulAug"].index
new_kaggle.drop(delete_me1 , inplace=True)
delete_me2 = new_kaggle[new_kaggle['Months'] == "SepOctNov"].index
new_kaggle.drop(delete_me2 , inplace=True)
delete_me2 = new_kaggle[new_kaggle['Months'] == "DecJanFeb"].index
new_kaggle.drop(delete_me2 , inplace=True)
delete_me3 = new_kaggle[new_kaggle['Months'] == "Meteorological year"].index
new_kaggle.drop(delete_me3 , inplace=True)

C:\Users\elesh\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
# Find average change for one country for 1 year
# areas = new_kaggle['Area']
# years = new_kaggle['']

# unique_countries = new_kaggle['Area'].unique()
# unique_countries

In [13]:
# countries

In [14]:
test_kaggle  = new_kaggle.drop(columns=['Months', 'Element', 'Unit'])
test_kaggle.head()

,Area,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,Y1971,Y1972,Y1973,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,Afghanistan,1.868,3.629,-1.432,0.389,-2.298,0.804,-1.487,-1.305,-2.951,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
2,Afghanistan,-0.096,3.397,0.296,-2.055,-3.167,1.809,0.816,-7.722,1.838,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
4,Afghanistan,-0.909,-0.069,-0.759,0.496,2.481,-0.915,1.658,-1.784,-0.473,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234
6,Afghanistan,-1.816,-1.192,-1.496,-0.590,-0.770,1.439,1.534,-0.602,1.106,...,2.591,1.712,1.417,-0.052,0.585,1.589,0.980,1.252,1.442,0.899
8,Afghanistan,-0.190,-0.192,-1.307,-1.841,-0.977,1.864,2.045,-1.051,0.724,...,1.419,3.643,0.909,1.201,0.959,1.862,3.246,3.280,0.855,0.647

In [15]:
# Mean of all countries/regions for each year
mean_data = test_kaggle.mean(axis=0)
all_mean_df = pd.DataFrame(mean_data)
all_mean_df.columns = ['mean_temp_change']
all_mean_df.head()

       mean_temp_change
Y1965         -0.211360
Y1966          0.093431
Y1967         -0.142026
Y1968         -0.154508
Y1969          0.101002

In [16]:
all_mean_df.reset_index(drop=False)

    index  mean_temp_change
0   Y1965         -0.211360
1   Y1966          0.093431
2   Y1967         -0.142026
3   Y1968         -0.154508
4   Y1969          0.101002
5   Y1970          0.068726
6   Y1971         -0.171902
7   Y1972         -0.044497
8   Y1973          0.182226
9   Y1974         -0.120710
10  Y1975         -0.037003
11  Y1976         -0.204662
12  Y1977          0.194631
13  Y1978          0.055257
14  Y1979          0.229598
15  Y1980          0.205844
16  Y1981          0.225288
17  Y1982          0.147999
18  Y1983          0.351208
19  Y1984          0.073538
20  Y1985          0.079557
21  Y1986          0.133983
22  Y1987          0.432032
23  Y1988          0.418634
24  Y1989          0.288633
25  Y1990          0.585559
26  Y1991          0.323458
27  Y1992          0.262213
28  Y1993          0.250624
29  Y1994          0.562280
30  Y1995          0.604978
31  Y1996          0.319608
32  Y1997          0.588617
33  Y1998          0.951414
34  Y1999          0.738811
35  Y2000          0.696269
36  Y2001          0.799470
37  Y2002          0.928034
38  Y2003          0.876315
39  Y2004          0.788534
40  Y2005          0.881727
41  Y2006          0.915326
42  Y2007          0.996352
43  Y2008          0.820523
44  Y2009          0.954556
45  Y2010          1.065132
46  Y2011          0.876506
47  Y2012          0.893496
48  Y2013          0.985659
49  Y2014          1.136556
50  Y2015          1.344084
51  Y2016          1.433673
52  Y2017          1.297191
53  Y2018          1.314562
54  Y2019          1.483515

In [17]:
all_mean_df.index.names = ['Year']

In [18]:
all_mean_df.head()

       mean_temp_change
Year
Y1965         -0.211360
Y1966          0.093431
Y1967         -0.142026
Y1968         -0.154508
Y1969          0.101002

In [19]:
new_mean = all_mean_df.reset_index(drop=False)

In [20]:
original = "Y1965"
original1 = new_mean['Year']
# newstr = original.replace("Y", "")

years = []
x = 0
for year in original1:
    newyear = year.replace("Y", "")
    years.append(newyear)
    x = x+1

In [21]:
years
temp_change = new_mean['mean_temp_change']

In [22]:
annual_mean = pd.DataFrame(years, temp_change)
annual_mean.head()

                     0
mean_temp_change
-0.211360         1965
 0.093431         1966
-0.142026         1967
-0.154508         1968
 0.101002         1969

In [23]:
annual_mean.reset_index(drop=False)

    mean_temp_change     0
0          -0.211360  1965
1           0.093431  1966
2          -0.142026  1967
3          -0.154508  1968
4           0.101002  1969
5           0.068726  1970
6          -0.171902  1971
7          -0.044497  1972
8           0.182226  1973
9          -0.120710  1974
10         -0.037003  1975
11         -0.204662  1976
12          0.194631  1977
13          0.055257  1978
14          0.229598  1979
15          0.205844  1980
16          0.225288  1981
17          0.147999  1982
18          0.351208  1983
19          0.073538  1984
20          0.079557  1985
21          0.133983  1986
22          0.432032  1987
23          0.418634  1988
24          0.288633  1989
25          0.585559  1990
26          0.323458  1991
27          0.262213  1992
28          0.250624  1993
29          0.562280  1994
30          0.604978  1995
31          0.319608  1996
32          0.588617  1997
33          0.951414  1998
34          0.738811  1999
35          0.696269  2000
36          0.799470  2001
37          0.928034  2002
38          0.876315  2003
39          0.788534  2004
40          0.881727  2005
41          0.915326  2006
42          0.996352  2007
43          0.820523  2008
44          0.954556  2009
45          1.065132  2010
46          0.876506  2011
47          0.893496  2012
48          0.985659  2013
49          1.136556  2014
50          1.344084  2015
51          1.433673  2016
52          1.297191  2017
53          1.314562  2018
54          1.483515  2019

In [24]:
annual_mean['Year'] = annual_mean[0]

In [25]:
cleaned_mean = annual_mean.drop(columns=[0])

In [26]:
cleaned_mean.reset_index(drop=False)

    mean_temp_change  Year
0          -0.211360  1965
1           0.093431  1966
2          -0.142026  1967
3          -0.154508  1968
4           0.101002  1969
5           0.068726  1970
6          -0.171902  1971
7          -0.044497  1972
8           0.182226  1973
9          -0.120710  1974
10         -0.037003  1975
11         -0.204662  1976
12          0.194631  1977
13          0.055257  1978
14          0.229598  1979
15          0.205844  1980
16          0.225288  1981
17          0.147999  1982
18          0.351208  1983
19          0.073538  1984
20          0.079557  1985
21          0.133983  1986
22          0.432032  1987
23          0.418634  1988
24          0.288633  1989
25          0.585559  1990
26          0.323458  1991
27          0.262213  1992
28          0.250624  1993
29          0.562280  1994
30          0.604978  1995
31          0.319608  1996
32          0.588617  1997
33          0.951414  1998
34          0.738811  1999
35          0.696269  2000
36          0.799470  2001
37          0.928034  2002
38          0.876315  2003
39          0.788534  2004
40          0.881727  2005
41          0.915326  2006
42          0.996352  2007
43          0.820523  2008
44          0.954556  2009
45          1.065132  2010
46          0.876506  2011
47          0.893496  2012
48          0.985659  2013
49          1.136556  2014
50          1.344084  2015
51          1.433673  2016
52          1.297191  2017
53          1.314562  2018
54          1.483515  2019

In [27]:
cleaned_mean['Year']=cleaned_mean['Year'].astype(int)

In [28]:
# test_mean = cleaned_mean.drop(columns='year')

In [29]:
test_mean = cleaned_mean.rename(columns = {'index':'mean_temp_change'})
test_mean.head()

                  Year
mean_temp_change
-0.211360         1965
 0.093431         1966
-0.142026         1967
-0.154508         1968
 0.101002         1969

In [30]:
test_mean.reset_index(drop=False, inplace=True)

In [31]:
# nasa_temp_new_df.dtypes
test_mean.dtypes

mean_temp_change    float64
Year                  int32
dtype: object

In [32]:
# Merge temperatures and NASA data
merged_df = nasa_temp_new_df.merge(test_mean, on='Year', how='right')
merged_df.head()

   Year  No_Smoothing  Lowess(5)  mean_temp_change
0  1965         -0.11      -0.05         -0.211360
1  1966         -0.06      -0.06          0.093431
2  1967         -0.02      -0.05         -0.142026
3  1968         -0.08      -0.03         -0.154508
4  1969          0.05      -0.02          0.101002

In [33]:
output = merged_df.to_csv("nasa_kaggle_temp_merged")

In [34]:
afg = new_kaggle[new_kaggle['Area']== "Afghanistan"]
afg.head()

,Area,Months,Element,Unit,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,Afghanistan,January,Temperature change,°C,1.868,3.629,-1.432,0.389,-2.298,0.804,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
2,Afghanistan,February,Temperature change,°C,-0.096,3.397,0.296,-2.055,-3.167,1.809,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
4,Afghanistan,March,Temperature change,°C,-0.909,-0.069,-0.759,0.496,2.481,-0.915,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234
6,Afghanistan,April,Temperature change,°C,-1.816,-1.192,-1.496,-0.590,-0.770,1.439,...,2.591,1.712,1.417,-0.052,0.585,1.589,0.980,1.252,1.442,0.899
8,Afghanistan,May,Temperature change,°C,-0.190,-0.192,-1.307,-1.841,-0.977,1.864,...,1.419,3.643,0.909,1.201,0.959,1.862,3.246,3.280,0.855,0.647

In [35]:
len(afg)

12

In [36]:
(afg['Y1965']).mean()

0.010000000000000009

In [37]:
# Get temperatures for 
grouped_df = new_kaggle.groupby(new_kaggle['Area']).mean()

In [38]:
grouped_df.head()

,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,Y1971,Y1972,Y1973,Y1974,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
Area,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.010000,0.241417,-0.362667,-0.339417,-0.330667,0.676667,0.837417,-1.505417,0.329417,-0.554917,...,1.472167,1.206083,0.212167,1.257833,0.492417,1.099333,1.754750,1.233417,1.596000,0.902417
Africa,-0.194667,0.150250,-0.228167,-0.166583,0.348833,0.168667,-0.219833,0.065083,0.327250,-0.268917,...,1.508667,0.869500,0.828917,0.997500,1.054750,1.207833,1.501250,1.174000,1.242000,1.433417
Albania,-0.348833,0.422583,-0.076083,0.056417,-0.043417,-0.054250,-0.264583,-0.139167,-0.243250,-0.187583,...,1.173167,1.143917,1.475667,1.561250,1.494500,1.674750,1.582167,1.449583,2.195667,2.078333
Algeria,-0.031917,0.285750,-0.093000,0.086750,0.150083,0.167000,-0.408500,-0.453167,-0.007167,-0.481750,...,2.323667,1.296833,1.267417,1.206583,1.772000,1.310750,1.929333,1.472167,1.437083,1.316750
American Samoa,-0.388500,0.115000,-0.360083,-0.137583,0.086250,-0.138250,-0.372333,0.115833,0.267583,-0.161250,...,1.013833,0.886800,0.957600,1.170800,1.084444,0.822222,1.527778,1.272222,1.127778,1.450000

In [46]:
transformed_group = grouped_df.T

In [47]:
transformed_group = transformed_group.reset_index(drop=False)

In [48]:
transformed_group = transformed_group.rename(columns = {'index':'Year'})
transformed_group

Area,Year,Afghanistan,Africa,Albania,Algeria,American Samoa,Americas,Andorra,Angola,Anguilla,...,Wallis and Futuna Islands,Western Africa,Western Asia,Western Europe,Western Sahara,World,Yemen,Yugoslav SFR,Zambia,Zimbabwe
0,Y1965,0.010000,-0.194667,-0.348833,-0.031917,-0.388500,-0.167583,-0.269250,-0.139833,-0.235833,...,-0.344833,-0.331667,-0.026833,-0.528750,-0.281417,-0.148167,-0.554583,-0.444583,-0.345833,-0.244083
1,Y1966,0.241417,0.150250,0.422583,0.285750,0.115000,-0.139750,0.355833,0.206750,-0.009333,...,0.006667,0.111500,0.744000,0.378167,0.267917,0.159000,0.062000,0.556750,0.290833,0.165333
2,Y1967,-0.362667,-0.228167,-0.076083,-0.093000,-0.360083,-0.056000,0.357333,-0.114667,-0.294750,...,-0.230167,-0.281000,-0.734417,0.476250,-0.079917,-0.113500,-0.235083,0.171500,-0.081917,-0.121333
3,Y1968,-0.339417,-0.166583,0.056417,0.086750,-0.137583,-0.090250,0.198083,-0.160333,-0.187500,...,-0.095333,-0.063667,-0.198083,-0.011083,-0.141417,-0.108750,-0.151167,0.144667,-0.128417,0.089250
4,Y1969,-0.330667,0.348833,-0.043417,0.150083,0.086250,0.278250,-0.363667,0.207500,0.270250,...,-0.233833,0.540917,0.345000,-0.216750,0.250917,-0.044500,0.183250,-0.288750,0.240583,0.101917
5,Y1970,0.676667,0.168667,-0.054250,0.167000,-0.138250,-0.010417,0.120583,0.209167,-0.011667,...,0.039167,0.241250,0.342500,-0.182250,0.556500,0.081833,0.345500,-0.100417,0.334583,0.577333
6,Y1971,0.837417,-0.219833,-0.264583,-0.408500,-0.372333,-0.241750,-0.095167,-0.180333,-0.361667,...,-0.062667,-0.083333,-0.308583,0.138750,-0.636250,-0.048833,-0.255250,-0.109417,-0.243917,-0.110333
7,Y1972,-1.505417,0.065083,-0.139167,-0.453167,0.115833,-0.480250,-0.510083,0.035667,-0.195583,...,-0.028250,0.173000,-0.558583,-0.276833,-1.145667,-0.215917,0.107333,0.033833,-0.009583,-0.213167
8,Y1973,0.329417,0.327250,-0.243250,-0.007167,0.267583,0.269000,-0.090583,0.385667,-0.022500,...,0.336500,0.538333,-0.057750,0.026167,-0.007000,0.277083,0.249917,-0.292333,0.177583,0.284083
9,Y1974,-0.554917,-0.268917,-0.187583,-0.481750,-0.161250,-0.283833,-0.195833,-0.207000,-0.421750,...,0.097250,-0.276583,-0.229750,0.394500,-0.453500,-0.193917,-0.123667,0.130167,-0.426583,-0.497417
10,Y1975,-0.398917,-0.177333,-0.145417,-0.422750,0.026167,-0.177667,-0.012917,-0.045583,-0.487000,...,-0.051833,-0.196667,-0.242250,0.447833,-0.180750,0.082917,-0.022750,0.283833,-0.122250,-0.235833
11,Y1976,-0.318750,-0.209500,-0.677167,-0.785000,-0.157667,-0.140667,0.056583,-0.320083,-0.455583,...,-0.123167,-0.217417,-0.302250,0.339500,-1.070333,-0.291750,0.025500,-0.570167,-0.309583,-0.383917
12,Y1977,0.708917,0.189667,0.438083,0.529750,0.200333,0.512750,0.017500,0.241500,0.027583,...,-0.065667,0.221250,0.148750,0.360083,0.216250,0.277583,0.372750,0.536167,0.440417,0.339417
13,Y1978,0.237417,0.117333,-0.537750,0.147750,0.026583,-0.030167,-0.197250,0.037667,0.035417,...,-0.075167,0.304583,0.067833,-0.292167,0.397833,0.019333,0.428750,-0.595583,0.022667,-0.134417
14,Y1979,0.226833,0.388667,0.235167,0.489750,0.318333,0.005417,0.019500,0.253417,-0.091917,...,0.149583,0.593250,0.698500,-0.216583,0.514750,0.282250,0.540500,0.272583,0.208333,0.177083
15,Y1980,0.595167,0.354583,-0.600500,0.143667,0.336750,0.389667,-0.434417,0.230417,0.592250,...,0.222583,0.628167,0.187500,-0.461917,0.382083,0.280083,0.848500,-0.703750,0.150000,0.030917
16,Y1981,0.503750,0.194417,-0.147750,0.536667,0.157833,0.826583,0.419833,-0.005833,0.430167,...,0.143750,0.454750,0.275000,0.142250,0.807417,0.479500,0.016083,-0.018750,-0.094833,-0.377833
17,Y1982,-0.638917,0.131000,0.309917,0.162000,0.344667,-0.112083,0.981333,0.136917,-0.102583,...,0.023583,0.232583,-0.614500,0.824667,0.181583,0.041083,0.047250,0.392250,0.302667,0.269417
18,Y1983,0.239083,0.440500,-0.202833,0.746250,0.266000,0.321000,0.840333,0.415833,0.439250,...,0.044667,0.740500,-0.499083,0.785417,0.963667,0.421000,0.067583,0.277417,0.894833,1.103167
19,Y1984,-0.092333,0.304583,-0.198167,0.037500,0.272750,0.128250,-0.220333,0.685500,-0.134083,...,-0.051500,0.508667,-0.213667,-0.082000,0.392167,0.050333,0.307833,-0.250000,0.501333,0.446750
20,Y1985,0.478750,0.312750,0.141250,0.618917,0.282917,0.071417,0.067083,0.699583,-0.175500,...,0.136167,0.402333,0.117917,-0.411833,0.789500,0.054750,0.483167,-0.237667,0.187750,0.023083
21,Y1986,-0.174000,0.241500,0.324917,0.342417,0.349750,0.365083,0.391167,0.186417,-0.099167,...,0.151667,0.361667,0.112250,-0.084417,0.178833,0.237417,-0.108417,0.071000,0.032500,0.047333
22,Y1987,0.565500,0.802750,0.195667,1.338583,0.410333,0.859000,0.475667,0.729333,0.526917,...,0.178083,1.152833,0.359833,-0.204667,1.233750,0.467583,0.202667,0.032833,1.002417,1.134500
23,Y1988,0.951500,0.477917,0.268667,1.013583,0.422000,0.461500,0.721083,0.490750,0.202500,...,0.319750,0.515500,0.254000,0.862917,0.403917,0.500667,0.926300,0.389583,0.559167,0.341667
24,Y1989,-0.211500,0.078500,0.105500,0.820750,0.174833,0.107000,1.422250,0.059417,-0.094333,...,0.049917,0.196333,-0.038667,1.310833,0.958833,0.325250,0.364000,0.466250,0.210083,0.307167
25,Y1990,0.558250,0.603500,0.791167,1.053833,0.587333,0.371917,1.276417,0.731917,0.209750,...,0.355917,0.850833,0.295083,1.330750,1.160750,0.638583,0.410917,0.905500,0.741167,0.549583
26,Y1991,0.011667,0.255000,-0.439250,0.056833,0.926333,0.508750,0.400917,0.290417,0.210333,...,0.354917,0.598500,0.080417,0.272333,0.628750,0.430250,0.125250,-0.309583,-0.000083,0.086417
27,Y1992,-0.294750,0.173083,0.338167,-0.148417,0.888889,0.192083,0.451917,0.378250,0.086917,...,0.230417,0.224667,-1.074667,1.014000,0.518667,0.205167,0.093000,NaN,0.794000,1.160917
28,Y1993,0.059750,0.443667,0.331417,0.566250,0.302400,0.364667,0.246333,0.346333,0.323917,...,0.019833,0.703250,-0.111500,0.438750,0.426083,0.351167,-0.085200,NaN,-0.004833,0.383167
29,Y1994,0.368667,0.353417,1.272417,0.781083,0.093500,0.546167,1.502167,0.272917,0.352667,...,0.243167,0.343417,0.466167,1.626667,0.965000,0.503000,-0.160286,NaN,0.349750,0.016750
30,Y1995,0.288750,0.642917,0.034083,0.848417,0.888100,0.618833,1.223000,0.755333,0.501750,...,0.504583,0.802917,0.307917,0.984833,1.310250,0.819833,0.115333,NaN,0.679417,0.826500
31,Y1996,0.045333,0.548583,-0.061833,0.853250,0.877400,0.212167,0.507000,0.475000,0.136167,...,0.465750,1.048583,0.667833,-0.249083,1.078750,0.368667,0.624750,NaN,0.813455,-0.048167
32,Y1997,0.425417,0.589583,0.156917,1.072167,1.209250,0.653167,1.774833,0.355500,0.522000,...,0.318667,0.812917,-0.063083,1.156500,1.420083,0.664167,0.434143,NaN,0.528333,0.174333
33,Y1998,0.880000,0.944250,0.652917,1.065417,-0.383500,1.391417,0.908667,1.100000,0.913167,...,0.721500,1.208833,1.208833,0.947083,1.196667,1.024250,1.532667,NaN,0.961917,0.771917
34,Y1999,1.043000,0.654167,1.014583,1.584500,0.192909,0.806583,1.071250,0.492750,0.357083,...,0.387583,0.569667,1.287417,1.296083,1.021250,0.794583,NaN,NaN,0.287333,0.239083
35,Y2000,0.977250,0.509333,1.197250,1.084167,0.524818,0.611917,1.287917,0.140333,0.127417,...,0.691750,0.733250,0.671333,1.595417,0.946833,0.660167,NaN,NaN,0.039333,-0.348250
36,Y2001,1.412250,0.728167,1.108417,1.877917,0.842000,1.011333,1.070417,0.353500,0.448417,...,0.859417,0.806583,1.149417,1.022000,1.458083,0.880500,NaN,NaN,0.451083,0.134833
37,Y2002,1.034417,0.886417,0.948417,1.441417,0.944500,0.824833,1.249917,0.693833,0.642500,...,1.035000,0.958083,0.803167,1.495583,1.159333,0.984750,NaN,NaN,0.796167,0.570417
38,Y2003,0.696333,0.975250,1.037333,1.517000,0.601091,0.948250,1.860583,0.890417,0.628500,...,0.981083,1.003250,0.865167,1.546583,1.345250,0.987083,NaN,NaN,0.928417,0.488417
39,Y2004,1.339083,0.848417,0.635417,1.099917,0.563417,0.611000,0.911417,0.293667,0.326500,...,0.805167,1.090500,0.717000,0.921583,1.364250,0.837500,NaN,NaN,0.365250,-0.109000
40,Y2005,0.443250,1.123667,0.166250,1.301250,0.654000,1.119000,0.595083,0.974500,0.614417,...,0.948667,1.311917,0.781000,0.911167,1.266250,1.150000,NaN,NaN,1.143333,1.047833
41,Y2006,1.409750,0.842833,0.514167,1.489833,1.023667,1.304833,1.708667,0.410583,0.546583,...,0.878250,1.056750,0.826583,1.522083,1.184750,1.032333,NaN,NaN,0.590667,0.109167
42,Y2007,0.720083,0.850250,1.332083,1.287083,1.286667,0.798667,1.003750,0.638500,0.683417,...,1.139500,1.070500,0.953333,1.574833,0.837833,1.158000,NaN,NaN,0.857667,0.156917
43,Y2008,0.802833,0.798250,1.322833,1.236750,0.738167,0.543000,0.877250,0.397167,0.154083,...,0.650000,0.795750,0.829833,1.202000,1.231083,0.923750,NaN,NaN,0.553250,0.469167
44,Y2009,0.849417,1.051583,1.081167,1.338583,1.234333,0.778833,1.450333,0.510333,0.508833,...,0.628667,1.185750,1.067417,1.257333,1.176917,0.949833,NaN,NaN,0.616500,-0.046417
45,Y2010,1.472167,1.508667,1.173167,2.323667,1.013833,1.367083,0.319667,1.057083,0.842333,...,1.025917,1.565583,2.177750,0.082083,1.942667,1.230417,NaN,NaN,1.457667,1.010833
46,Y2011,1.206083,0.869500,1.143917,1.296833,0.886800,0.917250,1.907500,0.651667,0.379500,...,0.948000,1.066500,0.589083,1.838583,1.409917,0.959083,NaN,NaN,1.049833,0.510333
47,Y2012,0.212167,0.828917,1.475667,1.267417,0.957600,1.305417,1.176250,0.480917,0.552000,...,0.869667,0.733417,1.270083,1.163000,1.340333,1.017583,NaN,NaN,1.051167,0.613333
48,Y2013,1.257833,0.997500,1.561250,1.206583,1.170800,0.756000,0.734917,0.902917,0.641583,...,0.947250,1.084917,1.036500,0.758167,1.433000,1.084417,NaN,NaN,1.134417,0.390667
49,Y2014,0.492417,1.054750,1.494500,1.772000,1.084444,0.889833,1.883167,0.759417,0.643333,...,0.902250,1.069833,1.427333,2.208417,1.252333,1.075583,NaN,NaN,1.067500,0.366583
50,Y2015,1.099333,1.207833,1.674750,1.310750,0.822222,1.413417,1.882167,1.279667,0.976083,...,0.933667,1.091583,1.412417,1.928750,1.662250,1.478167,NaN,NaN,1.772083,1.258333
51,Y2016,1.754750,1.501250,1.582167,1.929333,1.527778,1.627083,1.737917,1.519833,0.936417,...,1.472167,1.515833,1.546583,1.569583,1.607333,1.606167,NaN,NaN,1.276167,1.164583
52,Y2017,1.233417,1.174000,1.449583,1.472167,1.272222,1.398500,1.715833,0.802667,0.793583,...,1.139750,1.349083,1.632750,1.701250,2.059000,1.471750,NaN,NaN,0.666500,0.224833
53,Y2018,1.596000,1.242000,2.195667,1.437083,1.127778,0.970583,2.071500,1.281500,0.571333,...,1.007500,1.138417,2.057417,2.330917,0.955333,1.268750,NaN,NaN,1.193417,0.547167
54,Y2019,0.902417,1.433417,2.078333,1.316750,1.450000,1.248167,1.969500,1.743500,0.919417,...,1.281417,1.308667,1.611583,2.169833,1.612667,1.526583,NaN,NaN,1.413917,1.230083

In [49]:
original2 = transformed_group['Year']
years1 = []
x = 0
for year in original2:
    newyear1 = year.replace("Y", "")
    years1.append(newyear1)
    x = x+1

In [50]:
transformed_group['Year'] = years1

In [55]:
transformed_group.head()

Area,Year,Afghanistan,Africa,Albania,Algeria,American Samoa,Americas,Andorra,Angola,Anguilla,...,Wallis and Futuna Islands,Western Africa,Western Asia,Western Europe,Western Sahara,World,Yemen,Yugoslav SFR,Zambia,Zimbabwe
0,1965,0.010000,-0.194667,-0.348833,-0.031917,-0.388500,-0.167583,-0.269250,-0.139833,-0.235833,...,-0.344833,-0.331667,-0.026833,-0.528750,-0.281417,-0.148167,-0.554583,-0.444583,-0.345833,-0.244083
1,1966,0.241417,0.150250,0.422583,0.285750,0.115000,-0.139750,0.355833,0.206750,-0.009333,...,0.006667,0.111500,0.744000,0.378167,0.267917,0.159000,0.062000,0.556750,0.290833,0.165333
2,1967,-0.362667,-0.228167,-0.076083,-0.093000,-0.360083,-0.056000,0.357333,-0.114667,-0.294750,...,-0.230167,-0.281000,-0.734417,0.476250,-0.079917,-0.113500,-0.235083,0.171500,-0.081917,-0.121333
3,1968,-0.339417,-0.166583,0.056417,0.086750,-0.137583,-0.090250,0.198083,-0.160333,-0.187500,...,-0.095333,-0.063667,-0.198083,-0.011083,-0.141417,-0.108750,-0.151167,0.144667,-0.128417,0.089250
4,1969,-0.330667,0.348833,-0.043417,0.150083,0.086250,0.278250,-0.363667,0.207500,0.270250,...,-0.233833,0.540917,0.345000,-0.216750,0.250917,-0.044500,0.183250,-0.288750,0.240583,0.101917

In [ ]:
output1 = transformed_group()