In [1]:
# Import dependencies
import pandas as pd
from pyxlsb import open_workbook

from sqlalchemy import create_engine

# Extract Data Into DataFrames

### Data 1: bp.com Dataset on Primary Energy Consumption (Exajoules)

In [2]:
# Import data file
bp_pe_file = "raw_data/bp-stats-review-2020-all-data.xlsx"

bp_pe = pd.read_excel(bp_pe_file, "Primary Energy Consumption", engine="openpyxl")

# Rename the columns with value from the second row
bp_pe_rename = bp_pe.rename(columns=bp_pe.iloc[1])
display(bp_pe_rename.head(5))
display(bp_pe_rename.tail(5))

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.00000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.99365,13.936678,14.109482,14.349534,14.214058,-0.00944118,0.00640355,0.0243434,NaN,NaN
4,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.68830,7.785419,7.895341,7.833322,7.720742,-0.0143718,0.00905657,0.0132227,NaN,NaN

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data 2: bp.com Dataset on Renewable Energy Consumption (Exajoules)

In [3]:
# Import data file
bp_rc_file = "raw_data/bp-stats-review-2020-all-data.xlsx"

bp_rc = pd.read_excel(bp_rc_file, "Renewables Consumption - EJ", engine="openpyxl")

# Rename the columns with value from the second row
bp_rc_rename = bp_rc.rename(columns=bp_rc.iloc[1])
display(bp_rc_rename.head(5))
display(bp_rc_rename.tail(5))

,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.00000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.437742,0.488314,0.492008,0.503491,0.523399,0.0395406,0.134528,0.0180629,NaN,NaN
4,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00161,...,0.157067,0.170452,0.184147,0.216463,0.345292,0.595155,0.102784,0.0119163,NaN,NaN

,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
117,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"USSR includesCIS, Georgia, Ukraine and the Bal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data 3: bp.com Dataset on Carbon Dioxide Emissions (Million tonnes of co2)

In [4]:
# Import data file
bp_co2_file = "raw_data/bp-stats-review-2020-all-data.xlsx"

bp_co2 = pd.read_excel(bp_co2_file, "Carbon Dioxide Emissions", engine="openpyxl")

# Rename the columns with value from the second row
bp_co2_rename = bp_co2.rename(columns=bp_rc.iloc[1])
display(bp_co2_rename.head(5))
display(bp_co2_rename.tail(5))

,Carbon Dioxide Emissions,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Million tonnes of carbon dioxide,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,260.332557,271.698929,285.537480,308.284201,320.447741,344.908460,351.586651,367.977437,386.717056,...,546.233373,537.777358,549.107572,565.635679,556.188552,-0.0167018,0.00360727,0.0162776,NaN,NaN
4,Mexico,62.134189,65.056561,66.648353,72.171786,79.107628,84.173086,89.462540,99.668266,107.674113,...,463.121335,468.791476,476.945856,466.575628,454.972919,-0.0248678,0.00767418,0.0133154,NaN,NaN

,Carbon Dioxide Emissions,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# The end rows
bp_co2_rename.iloc[109:113]

,Carbon Dioxide Emissions,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
109,Total World,11207.741166,11725.313885,12084.725642,12743.051213,13530.939823,14312.868023,14788.378466,15495.494674,16345.050954,...,32787.197673,32936.066036,33279.491334,34007.891035,34169.000782,0.00473742,0.01135,1,NaN,NaN
110,of which: OECD,7703.189788,8015.802519,8280.964807,8804.452103,9334.098624,9790.467330,9939.548583,10374.748717,10951.592467,...,12347.757144,12270.063080,12300.248087,12372.332978,12011.955351,-0.0291277,-0.00820892,0.351545,NaN,NaN
111,Non-OECD,3504.551378,3709.511366,3803.760835,3938.599110,4196.841199,4522.400693,4848.829883,5120.745957,5393.458487,...,20439.440529,20666.002956,20979.243247,21635.558057,22157.045431,0.0241033,0.0247495,0.648455,NaN,NaN
112,European Union #,3304.482212,3344.123377,3412.149716,3613.583730,3855.707414,4056.978118,4106.837161,4244.459029,4459.940511,...,3486.935193,3498.502547,3527.146451,3466.482504,3330.444758,-0.0392437,-0.0177558,0.0974698,NaN,NaN

### Data 4: Annual CO2 Emissions by Region

In [6]:
# Import data file
co2_file = "raw_data/annual-co-emissions-by-region.csv"

co2_df = pd.read_csv(co2_file)
display(co2_df.head(5))
display(co2_df.tail(5))

        Entity Code  Year  Annual CO2 emissions
0  Afghanistan  AFG  1750                   0.0
1  Afghanistan  AFG  1751                   0.0
2  Afghanistan  AFG  1752                   0.0
3  Afghanistan  AFG  1753                   0.0
4  Afghanistan  AFG  1754                   0.0

         Entity Code  Year  Annual CO2 emissions
63175  Zimbabwe  ZWE  2015            12170460.0
63176  Zimbabwe  ZWE  2016            10814761.0
63177  Zimbabwe  ZWE  2017            10246841.0
63178  Zimbabwe  ZWE  2018            11340575.0
63179  Zimbabwe  ZWE  2019            10374287.0

### Not Using (the same as data 4) Data 5: Annual GHG Emissions by Region

In [7]:
# Import data file
ghg_file = "raw_data/total-ghg-emissions.csv"

ghg_df = pd.read_csv(co2_file)
display(ghg_df.head(5))
display(ghg_df.tail(5))

        Entity Code  Year  Annual CO2 emissions
0  Afghanistan  AFG  1750                   0.0
1  Afghanistan  AFG  1751                   0.0
2  Afghanistan  AFG  1752                   0.0
3  Afghanistan  AFG  1753                   0.0
4  Afghanistan  AFG  1754                   0.0

         Entity Code  Year  Annual CO2 emissions
63175  Zimbabwe  ZWE  2015            12170460.0
63176  Zimbabwe  ZWE  2016            10814761.0
63177  Zimbabwe  ZWE  2017            10246841.0
63178  Zimbabwe  ZWE  2018            11340575.0
63179  Zimbabwe  ZWE  2019            10374287.0

### Data 6: Climate Action Tracker Emission Benchmark (Emission Intensity gCO2/kwh)

In [8]:
# Import data file
cat_file = "raw_data/CAT_2020-07-10_ParisAgreementBenchmarks_FullReport-converted.xlsx"

cat = pd.read_excel(cat_file, "Table 3", engine="openpyxl")

# Rename the columns with value from the second row
cat_rename = cat.rename(columns=cat.iloc[3])
display(cat_rename.head(10))
display(cat_rename.tail(5))

,Country,Year,IAM\npathways median,IAM\npathways p75,ETP B2DS,EWG & LUT,DDPP 2Â°C,PA\nFinal Benchmark,NaN
0,Table 3-1. Emissions intensity of electricity ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Emissions intensity g CO2 / kWh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country,Year,IAM\npathways median,IAM\npathways p75,ETP B2DS,EWG & LUT,DDPP 2Â°C,PA\nFinal Benchmark,NaN
4,NaN,2030,175,125,229,48,NaN,50-125,NaN
5,Global,2040,31,24,72,6,NaN,5-25,NaN
6,NaN,2050,5,-5,-8,0,NaN,<0,NaN
7,NaN,2030,186,132,323,29*,NaN,30-130,NaN
8,USA,2040,55,32,70,0*,NaN,0-32,NaN
9,NaN,2050,13,-4,-31,0*,35,<0,NaN

,Country,Year,IAM\npathways median,IAM\npathways p75,ETP B2DS,EWG & LUT,DDPP 2Â°C,PA\nFinal Benchmark,NaN
32,As with the variation in the overall fuel mix ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"Results:\nFigure 3-2 shows the range, median, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Figure 3-2. Share of renewable energy sources ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Transform Data

### Data 1: bp.com Dataset on Primary Energy Consumption (Exajoules)

In [9]:
# Extract wanted columns
bp_ec_df = bp_pe_rename.copy()
bp_ec_df.head()

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.00000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.99365,13.936678,14.109482,14.349534,14.214058,-0.00944118,0.00640355,0.0243434,NaN,NaN
4,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.68830,7.785419,7.895341,7.833322,7.720742,-0.0143718,0.00905657,0.0132227,NaN,NaN

In [10]:
# Renaming the same name columns (2019) by creating specific name columns and duplicating the according data row
bp_ec_df ["2019_share"] = bp_ec_df.iloc [:,58]
bp_ec_df ["2019_growth_rate_per_annum"] = bp_ec_df.iloc [:,56]
bp_ec_df ["2019_year"] = bp_ec_df.iloc[:,55]
bp_ec_df.head()

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2018.0,2019.0,2019,2008-18,2019,NaN,NaN,2019_share,2019_growth_rate_per_annum,2019_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN,Share,Growth rate per annum,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN,2019,2019,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,14.349534,14.214058,-0.00944118,0.00640355,0.0243434,NaN,NaN,0.0243434,-0.00944118,14.214058
4,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.833322,7.720742,-0.0143718,0.00905657,0.0132227,NaN,NaN,0.0132227,-0.0143718,7.720742

In [11]:
# Get a list of the column names and select the wanted columns 
ls = list(bp_ec_df.columns)
ls

['Exajoules',
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2019.0,
 2019,
 '2008-18',
 2019,
 nan,
 nan,
 '2019_share',
 '2019_growth_rate_per_annum',
 '2019_year']

In [12]:
# Select the wanted columns 
columns=['Exajoules',
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 '2019_year']
bp_ec_df = bp_ec_df[columns]
bp_ec_df

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.00000,2016.000000,2017.000000,2018.000000,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.006501,13.605144,13.468474,13.881791,14.031964,13.99365,13.936678,14.109482,14.349534,14.214058
4,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.308951,7.660041,7.705558,7.738309,7.697182,7.68830,7.785419,7.895341,7.833322,7.720742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Rename the fist and 2008-2018 column
bp_ec_df = bp_ec_df.rename(columns={bp_ec_df.columns[0]: "country",
                                                  bp_ec_df.columns[55]: 2019.0})
bp_ec_df

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.00000,2016.000000,2017.000000,2018.000000,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.006501,13.605144,13.468474,13.881791,14.031964,13.99365,13.936678,14.109482,14.349534,14.214058
4,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.308951,7.660041,7.705558,7.738309,7.697182,7.68830,7.785419,7.895341,7.833322,7.720742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Dropping nan
bp_ec_cleaned = bp_ec_df.dropna(how="all")
bp_ec_cleaned = bp_ec_cleaned.reset_index(drop=True)
bp_ec_cleaned

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000
1,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.006501,13.605144,13.468474,13.881791,14.031964,13.993650,13.936678,14.109482,14.349534,14.214058
2,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.308951,7.660041,7.705558,7.738309,7.697182,7.688300,7.785419,7.895341,7.833322,7.720742
3,US,52.433795,55.383038,57.311776,60.799094,64.049612,66.215508,67.591944,71.064330,73.984875,...,92.972589,92.088362,89.687765,92.095480,93.054168,92.149004,92.017799,92.330525,95.602919,94.648804
4,Total North America,58.408365,61.733704,63.924460,67.868147,71.589254,74.284923,75.943920,80.093438,83.655181,...,113.288041,113.353546,110.861798,113.715579,114.783314,113.830955,113.739897,114.335348,117.785775,116.583604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,^ Less than 0.005.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,w Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,"# Excludes Estonia, Latvia and Lithuania prio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Check to see which end rows to remove
bp_ec_cleaned.tail(10)

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
101,of which: OECD,109.753966,115.209593,119.757756,127.763797,136.313939,143.811047,147.698668,155.275737,163.937237,...,233.035666,230.634676,228.161281,230.256120,228.305757,228.749984,229.643269,231.838724,235.388791,233.433815
102,Non-OECD,45.936972,48.887620,50.516755,52.883078,56.543340,61.196032,65.658486,69.656898,73.946642,...,272.988472,287.676151,296.820411,304.651826,310.944035,314.424915,320.958067,328.582851,340.840019,350.465162
103,European Union #,42.093184,43.282622,44.509488,47.391263,50.927589,54.195380,55.464640,58.120014,61.375230,...,74.152190,71.688762,71.043914,70.449605,67.712970,68.517875,69.136028,69.910232,69.806435,68.806269
104,"* In this review, primary energy comprises com...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Energy from all sources of non-fossil power ge...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,^ Less than 0.005.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,w Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,"# Excludes Estonia, Latvia and Lithuania prio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Remove unneeded rows
bp_ec_all_cleaned = bp_ec_cleaned.drop([0, 104, 105, 106, 107, 108, 109, 110])
bp_ec_all_cleaned = bp_ec_all_cleaned.reset_index(drop=True)
bp_ec_all_cleaned

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.006501,13.605144,13.468474,13.881791,14.031964,13.993650,13.936678,14.109482,14.349534,14.214058
1,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.308951,7.660041,7.705558,7.738309,7.697182,7.688300,7.785419,7.895341,7.833322,7.720742
2,US,52.433795,55.383038,57.311776,60.799094,64.049612,66.215508,67.591944,71.064330,73.984875,...,92.972589,92.088362,89.687765,92.095480,93.054168,92.149004,92.017799,92.330525,95.602919,94.648804
3,Total North America,58.408365,61.733704,63.924460,67.868147,71.589254,74.284923,75.943920,80.093438,83.655181,...,113.288041,113.353546,110.861798,113.715579,114.783314,113.830955,113.739897,114.335348,117.785775,116.583604
4,Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212762,1.288378,1.311442,1.367910,...,3.227137,3.289076,3.382872,3.524577,3.506861,3.585803,3.576195,3.566920,3.540866,3.462769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Total Asia Pacific,18.619358,20.292629,21.252997,22.904978,26.029859,29.635096,32.456915,34.377961,37.134012,...,196.804043,207.333595,214.015191,220.599057,225.154475,228.625428,233.129381,240.065902,249.351570,257.559918
99,Total World,155.690938,164.097213,170.274511,180.646875,192.857279,205.007079,213.357154,224.932635,237.883880,...,506.024137,518.310827,524.981692,534.907946,539.249792,543.174900,550.601336,560.421575,576.228810,583.898977
100,of which: OECD,109.753966,115.209593,119.757756,127.763797,136.313939,143.811047,147.698668,155.275737,163.937237,...,233.035666,230.634676,228.161281,230.256120,228.305757,228.749984,229.643269,231.838724,235.388791,233.433815
101,Non-OECD,45.936972,48.887620,50.516755,52.883078,56.543340,61.196032,65.658486,69.656898,73.946642,...,272.988472,287.676151,296.820411,304.651826,310.944035,314.424915,320.958067,328.582851,340.840019,350.465162
102,European Union #,42.093184,43.282622,44.509488,47.391263,50.927589,54.195380,55.464640,58.120014,61.375230,...,74.152190,71.688762,71.043914,70.449605,67.712970,68.517875,69.136028,69.910232,69.806435,68.806269

### Data 2: bp.com Dataset on Renewable Energy Consumption (Exajoules)

In [17]:
# Extract wanted columns
bp_rc_df = bp_rc_rename.copy()

# Renaming the same name columns (2019) by creating specific name columns and duplicating the according data row
bp_rc_df ["2019_share"] = bp_rc_df.iloc [:,58]
bp_rc_df ["2019_growth_rate_per_annum"] = bp_rc_df.iloc [:,56]
bp_rc_df ["2019_year"] = bp_rc_df.iloc[:,55]
bp_rc_df

,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2018.0,2019.0,2019,2008-18,2019,NaN,NaN,2019_share,2019_growth_rate_per_annum,2019_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN,Share,Growth rate per annum,NaN
1,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.00000,...,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN,2019,2019,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.503491,0.523399,0.0395406,0.134528,0.0180629,NaN,NaN,0.0180629,0.0395406,0.523399
4,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00161,...,0.216463,0.345292,0.595155,0.102784,0.0119163,NaN,NaN,0.0119163,0.595155,0.345292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"USSR includesCIS, Georgia, Ukraine and the Bal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Get a list of the column names
rc_ls = list(bp_rc_df.columns)
rc_ls

['Exajoules (input-equivalent)',
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2019.0,
 2019,
 '2008-18',
 2019,
 nan,
 nan,
 '2019_share',
 '2019_growth_rate_per_annum',
 '2019_year']

In [19]:
# Select the wanted columns
rc_columns=['Exajoules (input-equivalent)',
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
'2019_year'
]
bp_rc_df = bp_rc_df[rc_columns]
bp_rc_df

,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.00000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.216234,0.250820,0.278884,0.290927,0.303300,0.437742,0.488314,0.492008,0.503491,0.523399
4,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00161,...,0.086040,0.088399,0.102050,0.111551,0.133273,0.157067,0.170452,0.184147,0.216463,0.345292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"USSR includesCIS, Georgia, Ukraine and the Bal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Rename the fist and 2008-2018 column
bp_rc_df = bp_rc_df.rename(columns={bp_rc_df.columns[0]: "country", bp_rc_df.columns[55]: 2019.0})
bp_rc_df

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.00000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.216234,0.250820,0.278884,0.290927,0.303300,0.437742,0.488314,0.492008,0.503491,0.523399
4,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00161,...,0.086040,0.088399,0.102050,0.111551,0.133273,0.157067,0.170452,0.184147,0.216463,0.345292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"USSR includesCIS, Georgia, Ukraine and the Bal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Dropping nan
bp_rc_cleaned = bp_rc_df.dropna(how="all")
bp_rc_cleaned = bp_rc_cleaned.reset_index(drop=True)
bp_rc_cleaned

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Exajoules (input-equivalent),1965.000000,1966.00000,1967.000000,1968.00000,1969.000000,1970.000000,1971.000000,1972.00000,1973.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000
1,Canada,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.216234,0.250820,0.278884,0.290927,0.303300,0.437742,0.488314,0.492008,0.503491,0.523399
2,Mexico,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.001610,...,0.086040,0.088399,0.102050,0.111551,0.133273,0.157067,0.170452,0.184147,0.216463,0.345292
3,US,0.133322,0.14062,0.140736,0.15546,0.162271,0.162359,0.165844,0.18673,0.199897,...,2.756646,3.090966,3.325100,3.756286,4.039290,4.248825,4.807667,5.239283,5.503936,5.828555
4,Total North America,0.133322,0.14062,0.140736,0.15546,0.162271,0.162359,0.165844,0.18673,0.201507,...,3.058920,3.430186,3.706035,4.158765,4.475862,4.843633,5.466434,5.915439,6.223889,6.697246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,"USSR includesCIS, Georgia, Ukraine and the Bal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Check to see which end rows to remove
bp_rc_cleaned.tail(10)

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
102,Non-OECD,0.034327,0.035011,0.035672,0.036319,0.036966,0.047357,0.066391,0.071118,0.071310,...,2.579372,2.963241,3.472520,4.243674,5.091138,5.899018,7.096202,8.712925,10.553881,12.205708
103,European Union #,0.029090,0.039790,0.043160,0.048180,0.052430,0.069403,0.070579,0.069259,0.074422,...,3.376245,3.980388,4.615612,5.023238,5.383986,6.023025,6.050515,6.692393,6.969224,7.541291
104,*Based on gross generation and not accounting...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Details on thermal efficiency assumptions are ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,^ Less than 0.05.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,"USSR includesCIS, Georgia, Ukraine and the Bal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Remove unneeded rows
bp_rc_all_cleaned = bp_rc_cleaned.drop([0, 104, 105, 106, 107, 108, 109, 110, 111])
bp_rc_all_cleaned = bp_rc_all_cleaned.reset_index(drop=True)
bp_rc_all_cleaned

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Canada,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.216234,0.250820,0.278884,0.290927,0.303300,0.437742,0.488314,0.492008,0.503491,0.523399
1,Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001610,...,0.086040,0.088399,0.102050,0.111551,0.133273,0.157067,0.170452,0.184147,0.216463,0.345292
2,US,0.133322,0.140620,0.140736,0.155460,0.162271,0.162359,0.165844,0.186730,0.199897,...,2.756646,3.090966,3.325100,3.756286,4.039290,4.248825,4.807667,5.239283,5.503936,5.828555
3,Total North America,0.133322,0.140620,0.140736,0.155460,0.162271,0.162359,0.165844,0.186730,0.201507,...,3.058920,3.430186,3.706035,4.158765,4.475862,4.843633,5.466434,5.915439,6.223889,6.697246
4,Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000475,0.000499,0.000644,0.000490,...,0.040601,0.052376,0.065415,0.070381,0.077710,0.082616,0.081679,0.094728,0.100514,0.138995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Total Asia Pacific,0.016440,0.016430,0.014240,0.015770,0.016080,0.017767,0.017546,0.017856,0.018350,...,1.953708,2.379845,2.840311,3.491201,4.214132,4.845924,5.957339,7.532352,9.285780,10.814118
99,Total World,0.214179,0.233071,0.235538,0.257519,0.269545,0.298667,0.322760,0.347499,0.368311,...,9.699337,11.120646,12.604510,14.360242,16.027352,18.081068,20.057078,23.036529,25.825912,28.976463
100,of which: OECD,0.179852,0.198060,0.199866,0.221200,0.232580,0.251310,0.256369,0.276382,0.297001,...,7.119965,8.157404,9.131990,10.116568,10.936214,12.182050,12.960876,14.323605,15.272031,16.770755
101,Non-OECD,0.034327,0.035011,0.035672,0.036319,0.036966,0.047357,0.066391,0.071118,0.071310,...,2.579372,2.963241,3.472520,4.243674,5.091138,5.899018,7.096202,8.712925,10.553881,12.205708
102,European Union #,0.029090,0.039790,0.043160,0.048180,0.052430,0.069403,0.070579,0.069259,0.074422,...,3.376245,3.980388,4.615612,5.023238,5.383986,6.023025,6.050515,6.692393,6.969224,7.541291

### Data 1&2: bp.com Dataset Primary Energy Consumption (Exajoules) - Renewable Consumption (Exajoules)

In [24]:
# Reset index for the two cleaned df 
bp_ec_all_cleaned.set_index("country", inplace=True)

In [25]:
bp_rc_all_cleaned.set_index("country", inplace=True)

#### Nonrewable energy consumption (Exajoules)

In [26]:
# Subtract primary energy consumption df by renewable energy consumption
bp_nonrewablec = bp_ec_all_cleaned.subtract(bp_rc_all_cleaned)
bp_nonrewablec

,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
country,,,,,,,,,,,,,,,,,,,,,
Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,8.099354,...,12.790267,13.354323,13.189590,13.590863,13.728664,13.555908,13.448364,13.617474,13.846043,13.690659
Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.811085,1.992142,...,7.222912,7.571642,7.603508,7.626757,7.563910,7.531233,7.614967,7.711194,7.616859,7.375450
US,52.300473,55.242418,57.171040,60.643634,63.887342,66.053149,67.426099,70.877600,73.784978,71.916904,...,90.215943,88.997395,86.362665,88.339194,89.014878,87.900180,87.210132,87.091241,90.098983,88.820249
Total North America,58.275043,61.593084,63.783724,67.712687,71.426984,74.122564,75.778076,79.906708,83.453675,82.008400,...,110.229121,109.923361,107.155763,109.556815,110.307452,108.987321,108.273463,108.419909,111.561886,109.886358
Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212287,1.287880,1.310799,1.367420,1.427035,...,3.186537,3.236700,3.317457,3.454196,3.429151,3.503187,3.494517,3.472192,3.440353,3.323775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,18.602918,20.276199,21.238757,22.889208,26.013779,29.617329,32.439369,34.360105,37.115662,37.907122,...,194.850335,204.953750,211.174881,217.107857,220.940343,223.779504,227.172042,232.533550,240.065790,246.745800
Total World,155.476758,163.864141,170.038973,180.389356,192.587734,204.708413,213.034394,224.585136,237.515569,238.777227,...,496.324801,507.190181,512.377182,520.547704,523.222440,525.093831,530.544258,537.385046,550.402897,554.922514
of which: OECD,109.574113,115.011533,119.557890,127.542597,136.081359,143.559737,147.442299,154.999355,163.640237,161.365859,...,225.915701,222.477271,219.029291,220.139552,217.369543,216.567934,216.682393,217.515120,220.116760,216.663061
Non-OECD,45.902645,48.852609,50.481083,52.846759,56.506375,61.148675,65.592095,69.585781,73.875332,77.411368,...,270.409100,284.712910,293.347892,300.408152,305.852897,308.525897,313.861865,319.869926,330.286138,338.259454
European Union #,42.064094,43.242832,44.466328,47.343083,50.875159,54.125978,55.394062,58.050755,61.300808,60.288352,...,70.775945,67.708374,66.428302,65.426367,62.328984,62.494851,63.085514,63.217839,62.837211,61.264978

In [27]:
# Divide nonrenewable energy consumption by primary energy consumption df
bp_nonrewablec_div = bp_nonrewablec.divide(bp_ec_all_cleaned)
bp_nonrewablec_div

,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
country,,,,,,,,,,,,,,,,,,,,,
Canada,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.983375,0.981564,0.979294,0.979043,0.978385,0.968719,0.964962,0.965129,0.964912,0.963177
Mexico,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.999112,0.997681,...,0.988228,0.988460,0.986756,0.985585,0.982686,0.979571,0.978106,0.976677,0.972366,0.955277
US,0.997457,0.997461,0.997544,0.997443,0.997466,0.997548,0.997546,0.997372,0.997298,0.997171,...,0.970350,0.966435,0.962926,0.959213,0.956592,0.953892,0.947753,0.943255,0.942429,0.938419
Total North America,0.997717,0.997722,0.997798,0.997709,0.997733,0.997814,0.997816,0.997669,0.997591,0.997462,...,0.972999,0.969739,0.966571,0.963428,0.961006,0.957449,0.951939,0.948262,0.947159,0.942554
Argentina,1.000000,1.000000,1.000000,1.000000,1.000000,0.999608,0.999613,0.999509,0.999641,0.999649,...,0.987419,0.984076,0.980663,0.980031,0.977840,0.976960,0.977160,0.973443,0.971613,0.959860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,0.999117,0.999190,0.999330,0.999312,0.999382,0.999400,0.999459,0.999481,0.999506,0.999342,...,0.990073,0.988522,0.986728,0.984174,0.981283,0.978804,0.974446,0.968624,0.962760,0.958013
Total World,0.998624,0.998580,0.998617,0.998574,0.998602,0.998543,0.998487,0.998455,0.998452,0.998388,...,0.980832,0.978544,0.975991,0.973154,0.970278,0.966712,0.963572,0.958894,0.955181,0.950374
of which: OECD,0.998361,0.998281,0.998331,0.998269,0.998294,0.998253,0.998264,0.998220,0.998188,0.998055,...,0.969447,0.964631,0.959976,0.956064,0.952098,0.946745,0.943561,0.938217,0.935120,0.928156
Non-OECD,0.999253,0.999284,0.999294,0.999313,0.999346,0.999226,0.998989,0.998979,0.999036,0.999082,...,0.990551,0.989699,0.988301,0.986070,0.983627,0.981239,0.977891,0.973483,0.969036,0.965173
European Union #,0.999309,0.999081,0.999030,0.998983,0.998970,0.998719,0.998728,0.998808,0.998787,0.998703,...,0.954469,0.944477,0.935032,0.928697,0.920488,0.912096,0.912484,0.904272,0.900164,0.890398

In [28]:
# Multiple by 100
bp_nonrewablec_div = bp_nonrewablec_div *100
bp_nonrewablec_div

,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
country,,,,,,,,,,,,,,,,,,,,,
Canada,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,98.337492,98.156430,97.929354,97.904251,97.838509,96.871853,96.496192,96.512925,96.491240,96.317737
Mexico,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.911182,99.768126,...,98.822819,98.845975,98.675628,98.558456,98.268552,97.957069,97.810626,97.667651,97.236638,95.527736
US,99.745732,99.746095,99.754438,99.744305,99.746649,99.754802,99.754639,99.737238,99.729814,99.717083,...,97.034990,96.643478,96.292583,95.921313,95.659206,95.389180,94.775285,94.325513,94.242921,93.841914
Total North America,99.771741,99.772215,99.779841,99.770938,99.773331,99.781437,99.781623,99.766860,99.759122,99.746193,...,97.299874,96.973905,96.657068,96.342837,96.100598,95.744889,95.193917,94.826238,94.715924,94.255414
Argentina,100.000000,100.000000,100.000000,100.000000,100.000000,99.960799,99.961297,99.950929,99.964148,99.964927,...,98.741894,98.407584,98.066290,98.003145,97.784045,97.696021,97.716042,97.344258,97.161328,95.986029
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,99.911705,99.919035,99.932998,99.931150,99.938225,99.940047,99.945940,99.948060,99.950584,99.934191,...,99.007283,98.852166,98.672846,98.417400,98.128338,97.880409,97.444621,96.862382,96.276029,95.801319
Total World,99.862433,99.857968,99.861672,99.857446,99.860236,99.854314,99.848723,99.845510,99.845172,99.838768,...,98.083226,97.854445,97.599057,97.315381,97.027843,96.671225,96.357241,95.889429,95.518115,95.037418
of which: OECD,99.836131,99.828087,99.833108,99.826868,99.829379,99.825250,99.826424,99.822006,99.818833,99.805471,...,96.944689,96.463062,95.997572,95.606385,95.209839,94.674513,94.356083,93.821738,93.511997,92.815628
Non-OECD,99.925274,99.928384,99.929386,99.931323,99.934624,99.922614,99.898885,99.897903,99.903566,99.908250,...,99.055135,98.969938,98.830094,98.607041,98.362683,98.123871,97.789056,97.348332,96.903567,96.517284
European Union #,99.930891,99.908069,99.903032,99.898336,99.897050,99.871940,99.872750,99.880834,99.878743,99.870304,...,95.446871,94.447683,93.503156,92.869743,92.048811,91.209557,91.248391,90.427162,90.016359,89.039819

In [29]:
# Divide renewable energy consumption by primary energy consumption df
bp_rewablec_div = bp_rc_all_cleaned.divide(bp_ec_all_cleaned)
bp_rewablec_div

,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
country,,,,,,,,,,,,,,,,,,,,,
Canada,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.016625,0.018436,0.020706,0.020957,0.021615,0.031281,0.035038,0.034871,0.035088,0.036823
Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000888,0.002319,...,0.011772,0.011540,0.013244,0.014415,0.017314,0.020429,0.021894,0.023323,0.027634,0.044723
US,0.002543,0.002539,0.002456,0.002557,0.002534,0.002452,0.002454,0.002628,0.002702,0.002829,...,0.029650,0.033565,0.037074,0.040787,0.043408,0.046108,0.052247,0.056745,0.057571,0.061581
Total North America,0.002283,0.002278,0.002202,0.002291,0.002267,0.002186,0.002184,0.002331,0.002409,0.002538,...,0.027001,0.030261,0.033429,0.036572,0.038994,0.042551,0.048061,0.051738,0.052841,0.057446
Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000392,0.000387,0.000491,0.000359,0.000351,...,0.012581,0.015924,0.019337,0.019969,0.022160,0.023040,0.022840,0.026557,0.028387,0.040140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,0.000883,0.000810,0.000670,0.000688,0.000618,0.000600,0.000541,0.000519,0.000494,0.000658,...,0.009927,0.011478,0.013272,0.015826,0.018717,0.021196,0.025554,0.031376,0.037240,0.041987
Total World,0.001376,0.001420,0.001383,0.001426,0.001398,0.001457,0.001513,0.001545,0.001548,0.001612,...,0.019168,0.021456,0.024009,0.026846,0.029722,0.033288,0.036428,0.041106,0.044819,0.049626
of which: OECD,0.001639,0.001719,0.001669,0.001731,0.001706,0.001747,0.001736,0.001780,0.001812,0.001945,...,0.030553,0.035369,0.040024,0.043936,0.047902,0.053255,0.056439,0.061783,0.064880,0.071844
Non-OECD,0.000747,0.000716,0.000706,0.000687,0.000654,0.000774,0.001011,0.001021,0.000964,0.000918,...,0.009449,0.010301,0.011699,0.013930,0.016373,0.018761,0.022109,0.026517,0.030964,0.034827
European Union #,0.000691,0.000919,0.000970,0.001017,0.001030,0.001281,0.001272,0.001192,0.001213,0.001297,...,0.045531,0.055523,0.064968,0.071303,0.079512,0.087904,0.087516,0.095728,0.099836,0.109602

In [30]:
# Multiple by 100
bp_rewablec_div = bp_rewablec_div *100
bp_rewablec_div

,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
country,,,,,,,,,,,,,,,,,,,,,
Canada,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.662508,1.843570,2.070646,2.095749,2.161491,3.128147,3.503808,3.487075,3.508760,3.682263
Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.088818,0.231874,...,1.177181,1.154025,1.324372,1.441544,1.731448,2.042931,2.189374,2.332349,2.763362,4.472264
US,0.254268,0.253905,0.245562,0.255695,0.253351,0.245198,0.245361,0.262762,0.270186,0.282917,...,2.965010,3.356522,3.707417,4.078687,4.340794,4.610820,5.224715,5.674487,5.757079,6.158086
Total North America,0.228259,0.227785,0.220159,0.229062,0.226669,0.218563,0.218377,0.233140,0.240878,0.253807,...,2.700126,3.026095,3.342932,3.657163,3.899402,4.255111,4.806083,5.173762,5.284076,5.744586
Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.039201,0.038703,0.049071,0.035852,0.035073,...,1.258106,1.592416,1.933710,1.996855,2.215955,2.303979,2.283958,2.655742,2.838672,4.013971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,0.088295,0.080965,0.067002,0.068850,0.061775,0.059953,0.054060,0.051940,0.049416,0.065809,...,0.992717,1.147834,1.327154,1.582600,1.871662,2.119591,2.555379,3.137618,3.723971,4.198681
Total World,0.137567,0.142032,0.138328,0.142554,0.139764,0.145686,0.151277,0.154490,0.154828,0.161232,...,1.916774,2.145555,2.400943,2.684619,2.972157,3.328775,3.642759,4.110571,4.481885,4.962582
of which: OECD,0.163869,0.171913,0.166892,0.173132,0.170621,0.174750,0.173576,0.177994,0.181167,0.194529,...,3.055311,3.536938,4.002428,4.393615,4.790161,5.325487,5.643917,6.178262,6.488003,7.184372
Non-OECD,0.074726,0.071616,0.070614,0.068677,0.065376,0.077386,0.101115,0.102097,0.096434,0.091750,...,0.944865,1.030062,1.169906,1.392959,1.637317,1.876129,2.210944,2.651668,3.096433,3.482716
European Union #,0.069109,0.091931,0.096968,0.101664,0.102950,0.128060,0.127250,0.119166,0.121257,0.129696,...,4.553129,5.552317,6.496844,7.130257,7.951189,8.790443,8.751609,9.572838,9.983641,10.960181

In [31]:
# Add suffix to all years for all energy consumption
bp_ec_all_cleaned = bp_ec_all_cleaned.add_suffix('_all_energy')
bp_ec_all_cleaned

,1965.0_all_energy,1966.0_all_energy,1967.0_all_energy,1968.0_all_energy,1969.0_all_energy,1970.0_all_energy,1971.0_all_energy,1972.0_all_energy,1973.0_all_energy,1974.0_all_energy,...,2010.0_all_energy,2011.0_all_energy,2012.0_all_energy,2013.0_all_energy,2014.0_all_energy,2015.0_all_energy,2016.0_all_energy,2017.0_all_energy,2018.0_all_energy,2019.0_all_energy
country,,,,,,,,,,,,,,,,,,,,,
Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,8.099354,...,13.006501,13.605144,13.468474,13.881791,14.031964,13.993650,13.936678,14.109482,14.349534,14.214058
Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,1.996772,...,7.308951,7.660041,7.705558,7.738309,7.697182,7.688300,7.785419,7.895341,7.833322,7.720742
US,52.433795,55.383038,57.311776,60.799094,64.049612,66.215508,67.591944,71.064330,73.984875,72.120946,...,92.972589,92.088362,89.687765,92.095480,93.054168,92.149004,92.017799,92.330525,95.602919,94.648804
Total North America,58.408365,61.733704,63.924460,67.868147,71.589254,74.284923,75.943920,80.093438,83.655181,82.217072,...,113.288041,113.353546,110.861798,113.715579,114.783314,113.830955,113.739897,114.335348,117.785775,116.583604
Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212762,1.288378,1.311442,1.367910,1.427536,...,3.227137,3.289076,3.382872,3.524577,3.506861,3.585803,3.576195,3.566920,3.540866,3.462769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,18.619358,20.292629,21.252997,22.904978,26.029859,29.635096,32.456915,34.377961,37.134012,37.932084,...,196.804043,207.333595,214.015191,220.599057,225.154475,228.625428,233.129381,240.065902,249.351570,257.559918
Total World,155.690938,164.097213,170.274511,180.646875,192.857279,205.007079,213.357154,224.932635,237.883880,239.162833,...,506.024137,518.310827,524.981692,534.907946,539.249792,543.174900,550.601336,560.421575,576.228810,583.898977
of which: OECD,109.753966,115.209593,119.757756,127.763797,136.313939,143.811047,147.698668,155.275737,163.937237,161.680375,...,233.035666,230.634676,228.161281,230.256120,228.305757,228.749984,229.643269,231.838724,235.388791,233.433815
Non-OECD,45.936972,48.887620,50.516755,52.883078,56.543340,61.196032,65.658486,69.656898,73.946642,77.482459,...,272.988472,287.676151,296.820411,304.651826,310.944035,314.424915,320.958067,328.582851,340.840019,350.465162
European Union #,42.093184,43.282622,44.509488,47.391263,50.927589,54.195380,55.464640,58.120014,61.375230,60.366645,...,74.152190,71.688762,71.043914,70.449605,67.712970,68.517875,69.136028,69.910232,69.806435,68.806269

In [32]:
# Add suffix to all years for renewable energy consumption
bp_rewablec_div = bp_rewablec_div.add_suffix('_renewable%')
bp_rewablec_div

,1965.0_renewable%,1966.0_renewable%,1967.0_renewable%,1968.0_renewable%,1969.0_renewable%,1970.0_renewable%,1971.0_renewable%,1972.0_renewable%,1973.0_renewable%,1974.0_renewable%,...,2010.0_renewable%,2011.0_renewable%,2012.0_renewable%,2013.0_renewable%,2014.0_renewable%,2015.0_renewable%,2016.0_renewable%,2017.0_renewable%,2018.0_renewable%,2019.0_renewable%
country,,,,,,,,,,,,,,,,,,,,,
Canada,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.662508,1.843570,2.070646,2.095749,2.161491,3.128147,3.503808,3.487075,3.508760,3.682263
Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.088818,0.231874,...,1.177181,1.154025,1.324372,1.441544,1.731448,2.042931,2.189374,2.332349,2.763362,4.472264
US,0.254268,0.253905,0.245562,0.255695,0.253351,0.245198,0.245361,0.262762,0.270186,0.282917,...,2.965010,3.356522,3.707417,4.078687,4.340794,4.610820,5.224715,5.674487,5.757079,6.158086
Total North America,0.228259,0.227785,0.220159,0.229062,0.226669,0.218563,0.218377,0.233140,0.240878,0.253807,...,2.700126,3.026095,3.342932,3.657163,3.899402,4.255111,4.806083,5.173762,5.284076,5.744586
Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.039201,0.038703,0.049071,0.035852,0.035073,...,1.258106,1.592416,1.933710,1.996855,2.215955,2.303979,2.283958,2.655742,2.838672,4.013971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,0.088295,0.080965,0.067002,0.068850,0.061775,0.059953,0.054060,0.051940,0.049416,0.065809,...,0.992717,1.147834,1.327154,1.582600,1.871662,2.119591,2.555379,3.137618,3.723971,4.198681
Total World,0.137567,0.142032,0.138328,0.142554,0.139764,0.145686,0.151277,0.154490,0.154828,0.161232,...,1.916774,2.145555,2.400943,2.684619,2.972157,3.328775,3.642759,4.110571,4.481885,4.962582
of which: OECD,0.163869,0.171913,0.166892,0.173132,0.170621,0.174750,0.173576,0.177994,0.181167,0.194529,...,3.055311,3.536938,4.002428,4.393615,4.790161,5.325487,5.643917,6.178262,6.488003,7.184372
Non-OECD,0.074726,0.071616,0.070614,0.068677,0.065376,0.077386,0.101115,0.102097,0.096434,0.091750,...,0.944865,1.030062,1.169906,1.392959,1.637317,1.876129,2.210944,2.651668,3.096433,3.482716
European Union #,0.069109,0.091931,0.096968,0.101664,0.102950,0.128060,0.127250,0.119166,0.121257,0.129696,...,4.553129,5.552317,6.496844,7.130257,7.951189,8.790443,8.751609,9.572838,9.983641,10.960181

In [33]:
# Add suffix to all years for renewable energy consumption
bp_nonrewablec_div = bp_nonrewablec_div.add_suffix('_nonrenewable%')
bp_nonrewablec_div

,1965.0_nonrenewable%,1966.0_nonrenewable%,1967.0_nonrenewable%,1968.0_nonrenewable%,1969.0_nonrenewable%,1970.0_nonrenewable%,1971.0_nonrenewable%,1972.0_nonrenewable%,1973.0_nonrenewable%,1974.0_nonrenewable%,...,2010.0_nonrenewable%,2011.0_nonrenewable%,2012.0_nonrenewable%,2013.0_nonrenewable%,2014.0_nonrenewable%,2015.0_nonrenewable%,2016.0_nonrenewable%,2017.0_nonrenewable%,2018.0_nonrenewable%,2019.0_nonrenewable%
country,,,,,,,,,,,,,,,,,,,,,
Canada,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,98.337492,98.156430,97.929354,97.904251,97.838509,96.871853,96.496192,96.512925,96.491240,96.317737
Mexico,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.911182,99.768126,...,98.822819,98.845975,98.675628,98.558456,98.268552,97.957069,97.810626,97.667651,97.236638,95.527736
US,99.745732,99.746095,99.754438,99.744305,99.746649,99.754802,99.754639,99.737238,99.729814,99.717083,...,97.034990,96.643478,96.292583,95.921313,95.659206,95.389180,94.775285,94.325513,94.242921,93.841914
Total North America,99.771741,99.772215,99.779841,99.770938,99.773331,99.781437,99.781623,99.766860,99.759122,99.746193,...,97.299874,96.973905,96.657068,96.342837,96.100598,95.744889,95.193917,94.826238,94.715924,94.255414
Argentina,100.000000,100.000000,100.000000,100.000000,100.000000,99.960799,99.961297,99.950929,99.964148,99.964927,...,98.741894,98.407584,98.066290,98.003145,97.784045,97.696021,97.716042,97.344258,97.161328,95.986029
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,99.911705,99.919035,99.932998,99.931150,99.938225,99.940047,99.945940,99.948060,99.950584,99.934191,...,99.007283,98.852166,98.672846,98.417400,98.128338,97.880409,97.444621,96.862382,96.276029,95.801319
Total World,99.862433,99.857968,99.861672,99.857446,99.860236,99.854314,99.848723,99.845510,99.845172,99.838768,...,98.083226,97.854445,97.599057,97.315381,97.027843,96.671225,96.357241,95.889429,95.518115,95.037418
of which: OECD,99.836131,99.828087,99.833108,99.826868,99.829379,99.825250,99.826424,99.822006,99.818833,99.805471,...,96.944689,96.463062,95.997572,95.606385,95.209839,94.674513,94.356083,93.821738,93.511997,92.815628
Non-OECD,99.925274,99.928384,99.929386,99.931323,99.934624,99.922614,99.898885,99.897903,99.903566,99.908250,...,99.055135,98.969938,98.830094,98.607041,98.362683,98.123871,97.789056,97.348332,96.903567,96.517284
European Union #,99.930891,99.908069,99.903032,99.898336,99.897050,99.871940,99.872750,99.880834,99.878743,99.870304,...,95.446871,94.447683,93.503156,92.869743,92.048811,91.209557,91.248391,90.427162,90.016359,89.039819

#### Dataframes Combination

In [34]:
# Combine all energy dataframe with renewable dataframe
data_combine1 = pd.concat([bp_ec_all_cleaned, bp_rewablec_div], axis=1)
data_combine1

,1965.0_all_energy,1966.0_all_energy,1967.0_all_energy,1968.0_all_energy,1969.0_all_energy,1970.0_all_energy,1971.0_all_energy,1972.0_all_energy,1973.0_all_energy,1974.0_all_energy,...,2010.0_renewable%,2011.0_renewable%,2012.0_renewable%,2013.0_renewable%,2014.0_renewable%,2015.0_renewable%,2016.0_renewable%,2017.0_renewable%,2018.0_renewable%,2019.0_renewable%
country,,,,,,,,,,,,,,,,,,,,,
Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,8.099354,...,1.662508,1.843570,2.070646,2.095749,2.161491,3.128147,3.503808,3.487075,3.508760,3.682263
Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,1.996772,...,1.177181,1.154025,1.324372,1.441544,1.731448,2.042931,2.189374,2.332349,2.763362,4.472264
US,52.433795,55.383038,57.311776,60.799094,64.049612,66.215508,67.591944,71.064330,73.984875,72.120946,...,2.965010,3.356522,3.707417,4.078687,4.340794,4.610820,5.224715,5.674487,5.757079,6.158086
Total North America,58.408365,61.733704,63.924460,67.868147,71.589254,74.284923,75.943920,80.093438,83.655181,82.217072,...,2.700126,3.026095,3.342932,3.657163,3.899402,4.255111,4.806083,5.173762,5.284076,5.744586
Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212762,1.288378,1.311442,1.367910,1.427536,...,1.258106,1.592416,1.933710,1.996855,2.215955,2.303979,2.283958,2.655742,2.838672,4.013971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,18.619358,20.292629,21.252997,22.904978,26.029859,29.635096,32.456915,34.377961,37.134012,37.932084,...,0.992717,1.147834,1.327154,1.582600,1.871662,2.119591,2.555379,3.137618,3.723971,4.198681
Total World,155.690938,164.097213,170.274511,180.646875,192.857279,205.007079,213.357154,224.932635,237.883880,239.162833,...,1.916774,2.145555,2.400943,2.684619,2.972157,3.328775,3.642759,4.110571,4.481885,4.962582
of which: OECD,109.753966,115.209593,119.757756,127.763797,136.313939,143.811047,147.698668,155.275737,163.937237,161.680375,...,3.055311,3.536938,4.002428,4.393615,4.790161,5.325487,5.643917,6.178262,6.488003,7.184372
Non-OECD,45.936972,48.887620,50.516755,52.883078,56.543340,61.196032,65.658486,69.656898,73.946642,77.482459,...,0.944865,1.030062,1.169906,1.392959,1.637317,1.876129,2.210944,2.651668,3.096433,3.482716
European Union #,42.093184,43.282622,44.509488,47.391263,50.927589,54.195380,55.464640,58.120014,61.375230,60.366645,...,4.553129,5.552317,6.496844,7.130257,7.951189,8.790443,8.751609,9.572838,9.983641,10.960181

In [35]:
# Combine with nonrenewable dataframe
data_combine = pd.concat([data_combine1, bp_nonrewablec_div], axis=1)
data_combine

,1965.0_all_energy,1966.0_all_energy,1967.0_all_energy,1968.0_all_energy,1969.0_all_energy,1970.0_all_energy,1971.0_all_energy,1972.0_all_energy,1973.0_all_energy,1974.0_all_energy,...,2010.0_nonrenewable%,2011.0_nonrenewable%,2012.0_nonrenewable%,2013.0_nonrenewable%,2014.0_nonrenewable%,2015.0_nonrenewable%,2016.0_nonrenewable%,2017.0_nonrenewable%,2018.0_nonrenewable%,2019.0_nonrenewable%
country,,,,,,,,,,,,,,,,,,,,,
Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,8.099354,...,98.337492,98.156430,97.929354,97.904251,97.838509,96.871853,96.496192,96.512925,96.491240,96.317737
Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,1.996772,...,98.822819,98.845975,98.675628,98.558456,98.268552,97.957069,97.810626,97.667651,97.236638,95.527736
US,52.433795,55.383038,57.311776,60.799094,64.049612,66.215508,67.591944,71.064330,73.984875,72.120946,...,97.034990,96.643478,96.292583,95.921313,95.659206,95.389180,94.775285,94.325513,94.242921,93.841914
Total North America,58.408365,61.733704,63.924460,67.868147,71.589254,74.284923,75.943920,80.093438,83.655181,82.217072,...,97.299874,96.973905,96.657068,96.342837,96.100598,95.744889,95.193917,94.826238,94.715924,94.255414
Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212762,1.288378,1.311442,1.367910,1.427536,...,98.741894,98.407584,98.066290,98.003145,97.784045,97.696021,97.716042,97.344258,97.161328,95.986029
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,18.619358,20.292629,21.252997,22.904978,26.029859,29.635096,32.456915,34.377961,37.134012,37.932084,...,99.007283,98.852166,98.672846,98.417400,98.128338,97.880409,97.444621,96.862382,96.276029,95.801319
Total World,155.690938,164.097213,170.274511,180.646875,192.857279,205.007079,213.357154,224.932635,237.883880,239.162833,...,98.083226,97.854445,97.599057,97.315381,97.027843,96.671225,96.357241,95.889429,95.518115,95.037418
of which: OECD,109.753966,115.209593,119.757756,127.763797,136.313939,143.811047,147.698668,155.275737,163.937237,161.680375,...,96.944689,96.463062,95.997572,95.606385,95.209839,94.674513,94.356083,93.821738,93.511997,92.815628
Non-OECD,45.936972,48.887620,50.516755,52.883078,56.543340,61.196032,65.658486,69.656898,73.946642,77.482459,...,99.055135,98.969938,98.830094,98.607041,98.362683,98.123871,97.789056,97.348332,96.903567,96.517284
European Union #,42.093184,43.282622,44.509488,47.391263,50.927589,54.195380,55.464640,58.120014,61.375230,60.366645,...,95.446871,94.447683,93.503156,92.869743,92.048811,91.209557,91.248391,90.427162,90.016359,89.039819

### Data 3: bp.com Dataset on Carbon Dioxide Emissions (Million tonnes of co2)

In [36]:
# Extract wanted columns
bp_co2_df = bp_co2_rename.copy()
# Renaming the same name columns (2019) by creating specific name columns and duplicating the according data row
bp_co2_df ["2019_share"] = bp_co2_df.iloc [:,58]
bp_co2_df ["2019_growth_rate_per_annum"] = bp_co2_df.iloc [:,56]
bp_co2_df ["2019_year"] = bp_co2_df.iloc[:,55]
bp_co2_df

,Carbon Dioxide Emissions,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2018.0,2019.0,2019,2008-18,2019,NaN,NaN,2019_share,2019_growth_rate_per_annum,2019_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN,Share,Growth rate per annum,NaN
1,Million tonnes of carbon dioxide,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN,2019,2019,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,260.332557,271.698929,285.537480,308.284201,320.447741,344.908460,351.586651,367.977437,386.717056,...,565.635679,556.188552,-0.0167018,0.00360727,0.0162776,NaN,NaN,0.0162776,-0.0167018,556.188552
4,Mexico,62.134189,65.056561,66.648353,72.171786,79.107628,84.173086,89.462540,99.668266,107.674113,...,466.575628,454.972919,-0.0248678,0.00767418,0.0133154,NaN,NaN,0.0133154,-0.0248678,454.972919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# Get a list of the column names
co2_ls = list(bp_co2_df.columns)
co2_ls

['Carbon Dioxide Emissions',
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2019.0,
 2019,
 '2008-18',
 2019,
 nan,
 nan,
 '2019_share',
 '2019_growth_rate_per_annum',
 '2019_year']

In [38]:
# Select the wanted columns
co2_columns=['Carbon Dioxide Emissions',
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 '2019_year'
]
bp_co2_df = bp_co2_df[co2_columns]
bp_co2_df

,Carbon Dioxide Emissions,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Million tonnes of carbon dioxide,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,260.332557,271.698929,285.537480,308.284201,320.447741,344.908460,351.586651,367.977437,386.717056,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
4,Mexico,62.134189,65.056561,66.648353,72.171786,79.107628,84.173086,89.462540,99.668266,107.674113,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# Rename the fist and 2008-2018 column
bp_co2_df = bp_co2_df.rename(columns={bp_co2_df.columns[0]: "country", bp_co2_df.columns[55]: 2019.0})
bp_co2_df

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Million tonnes of carbon dioxide,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,260.332557,271.698929,285.537480,308.284201,320.447741,344.908460,351.586651,367.977437,386.717056,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
4,Mexico,62.134189,65.056561,66.648353,72.171786,79.107628,84.173086,89.462540,99.668266,107.674113,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# Dropping nan
bp_co2_cleaned = bp_co2_df.dropna(how="all")
bp_co2_cleaned = bp_co2_cleaned.reset_index(drop=True)
bp_co2_cleaned

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Million tonnes of carbon dioxide,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000
1,Canada,260.332557,271.698929,285.537480,308.284201,320.447741,344.908460,351.586651,367.977437,386.717056,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
2,Mexico,62.134189,65.056561,66.648353,72.171786,79.107628,84.173086,89.462540,99.668266,107.674113,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
3,US,3480.084706,3675.466374,3772.622833,3994.225972,4170.119294,4298.208775,4340.724935,4564.699478,4764.400900,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
4,Total North America,3802.551452,4012.221864,4124.808666,4374.681960,4569.674663,4727.290321,4781.774126,5032.345181,5258.792068,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,"# Excludes Estonia, Latvia and Lithuania prio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,Notes: The carbon emissions above reflect onl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,'Default CO2 Emissions Factors for Combustion...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,This does not allow for any carbon that is se...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Our data is therefore not comparable to offic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# Check to see which end rows to remove
bp_co2_cleaned.tail(10)

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
102,Non-OECD,3504.551378,3709.511366,3803.760835,3938.59911,4196.841199,4522.400693,4848.829883,5120.745957,5393.458487,...,18128.047389,19190.267562,19693.194807,20133.610124,20363.267833,20439.440529,20666.002956,20979.243247,21635.558057,22157.045431
103,European Union #,3304.482212,3344.123377,3412.149716,3613.58373,3855.707414,4056.978118,4106.837161,4244.459029,4459.940511,...,3922.934995,3800.361504,3737.698716,3653.468215,3445.591925,3486.935193,3498.502547,3527.146451,3466.482504,3330.444758
104,w Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,"# Excludes Estonia, Latvia and Lithuania prio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,Notes: The carbon emissions above reflect onl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,'Default CO2 Emissions Factors for Combustion...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,This does not allow for any carbon that is se...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Our data is therefore not comparable to offic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
# Remove unneeded rows
bp_co2_all_cleaned = bp_co2_cleaned.drop([0, 104, 105, 106, 107, 108, 109, 110, 111])
bp_co2_all_cleaned = bp_co2_all_cleaned.reset_index(drop=True)
bp_co2_all_cleaned.set_index("country", inplace=True)

In [43]:
# bp_co2_all_cleaned.T

In [44]:
# Add suffix to all years for all energy consumption
bp_co2_all_cleaned = bp_co2_all_cleaned.add_suffix('_co2_emission')
bp_co2_all_cleaned

,1965.0_co2_emission,1966.0_co2_emission,1967.0_co2_emission,1968.0_co2_emission,1969.0_co2_emission,1970.0_co2_emission,1971.0_co2_emission,1972.0_co2_emission,1973.0_co2_emission,1974.0_co2_emission,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
country,,,,,,,,,,,,,,,,,,,,,
Canada,260.332557,271.698929,285.537480,308.284201,320.447741,344.908460,351.586651,367.977437,386.717056,392.981222,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
Mexico,62.134189,65.056561,66.648353,72.171786,79.107628,84.173086,89.462540,99.668266,107.674113,120.860111,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
US,3480.084706,3675.466374,3772.622833,3994.225972,4170.119294,4298.208775,4340.724935,4564.699478,4764.400900,4596.370255,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
Total North America,3802.551452,4012.221864,4124.808666,4374.681960,4569.674663,4727.290321,4781.774126,5032.345181,5258.792068,5110.211588,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
Argentina,77.341494,79.579541,81.846331,84.239573,86.902914,80.535084,85.254058,86.741981,89.802171,91.753445,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,1425.188935,1548.323035,1614.735985,1720.378208,1956.926885,2233.660114,2444.217715,2581.733238,2784.660603,2824.829185,...,13993.499104,14876.638218,15310.550151,15666.928513,15802.624228,15894.144329,16022.093130,16357.090978,16863.320748,17269.460575
Total World,11207.741166,11725.313885,12084.725642,12743.051213,13530.939823,14312.868023,14788.378466,15495.494674,16345.050954,16255.751893,...,31085.534841,31973.369818,32273.531532,32795.554106,32804.718691,32787.197673,32936.066036,33279.491334,34007.891035,34169.000782
of which: OECD,7703.189788,8015.802519,8280.964807,8804.452103,9334.098624,9790.467330,9939.548583,10374.748717,10951.592467,10674.599420,...,12957.487453,12783.102257,12580.336724,12661.943982,12441.450859,12347.757144,12270.063080,12300.248087,12372.332978,12011.955351
Non-OECD,3504.551378,3709.511366,3803.760835,3938.599110,4196.841199,4522.400693,4848.829883,5120.745957,5393.458487,5581.152473,...,18128.047389,19190.267562,19693.194807,20133.610124,20363.267833,20439.440529,20666.002956,20979.243247,21635.558057,22157.045431
European Union #,3304.482212,3344.123377,3412.149716,3613.583730,3855.707414,4056.978118,4106.837161,4244.459029,4459.940511,4335.739307,...,3922.934995,3800.361504,3737.698716,3653.468215,3445.591925,3486.935193,3498.502547,3527.146451,3466.482504,3330.444758

#### More data combination

In [45]:
# Combine with nonrenewable dataframe
data_combine = pd.concat([data_combine, bp_co2_all_cleaned], axis=1)
data_combine

,1965.0_all_energy,1966.0_all_energy,1967.0_all_energy,1968.0_all_energy,1969.0_all_energy,1970.0_all_energy,1971.0_all_energy,1972.0_all_energy,1973.0_all_energy,1974.0_all_energy,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
country,,,,,,,,,,,,,,,,,,,,,
Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,8.099354,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,1.996772,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
US,52.433795,55.383038,57.311776,60.799094,64.049612,66.215508,67.591944,71.064330,73.984875,72.120946,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
Total North America,58.408365,61.733704,63.924460,67.868147,71.589254,74.284923,75.943920,80.093438,83.655181,82.217072,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212762,1.288378,1.311442,1.367910,1.427536,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,18.619358,20.292629,21.252997,22.904978,26.029859,29.635096,32.456915,34.377961,37.134012,37.932084,...,13993.499104,14876.638218,15310.550151,15666.928513,15802.624228,15894.144329,16022.093130,16357.090978,16863.320748,17269.460575
Total World,155.690938,164.097213,170.274511,180.646875,192.857279,205.007079,213.357154,224.932635,237.883880,239.162833,...,31085.534841,31973.369818,32273.531532,32795.554106,32804.718691,32787.197673,32936.066036,33279.491334,34007.891035,34169.000782
of which: OECD,109.753966,115.209593,119.757756,127.763797,136.313939,143.811047,147.698668,155.275737,163.937237,161.680375,...,12957.487453,12783.102257,12580.336724,12661.943982,12441.450859,12347.757144,12270.063080,12300.248087,12372.332978,12011.955351
Non-OECD,45.936972,48.887620,50.516755,52.883078,56.543340,61.196032,65.658486,69.656898,73.946642,77.482459,...,18128.047389,19190.267562,19693.194807,20133.610124,20363.267833,20439.440529,20666.002956,20979.243247,21635.558057,22157.045431
European Union #,42.093184,43.282622,44.509488,47.391263,50.927589,54.195380,55.464640,58.120014,61.375230,60.366645,...,3922.934995,3800.361504,3737.698716,3653.468215,3445.591925,3486.935193,3498.502547,3527.146451,3466.482504,3330.444758

### Data 4: Annual CO2 Emissions by Region

In [46]:
# Extract wanted columns and row
co2_transform = co2_df.copy()
co2_transform

            Entity Code  Year  Annual CO2 emissions
0      Afghanistan  AFG  1750                   0.0
1      Afghanistan  AFG  1751                   0.0
2      Afghanistan  AFG  1752                   0.0
3      Afghanistan  AFG  1753                   0.0
4      Afghanistan  AFG  1754                   0.0
...            ...  ...   ...                   ...
63175     Zimbabwe  ZWE  2015            12170460.0
63176     Zimbabwe  ZWE  2016            10814761.0
63177     Zimbabwe  ZWE  2017            10246841.0
63178     Zimbabwe  ZWE  2018            11340575.0
63179     Zimbabwe  ZWE  2019            10374287.0

[63180 rows x 4 columns]

In [47]:
# Extract year after 1964
co2_transform = co2_transform[co2_transform.Year >1964]
co2_transform

            Entity Code  Year  Annual CO2 emissions
215    Afghanistan  AFG  1965             1006917.0
216    Afghanistan  AFG  1966             1091159.0
217    Afghanistan  AFG  1967             1281865.0
218    Afghanistan  AFG  1968             1223391.0
219    Afghanistan  AFG  1969              941232.0
...            ...  ...   ...                   ...
63175     Zimbabwe  ZWE  2015            12170460.0
63176     Zimbabwe  ZWE  2016            10814761.0
63177     Zimbabwe  ZWE  2017            10246841.0
63178     Zimbabwe  ZWE  2018            11340575.0
63179     Zimbabwe  ZWE  2019            10374287.0

[12870 rows x 4 columns]

In [48]:
co2_transform.reset_index(drop=True)

            Entity Code  Year  Annual CO2 emissions
0      Afghanistan  AFG  1965             1006917.0
1      Afghanistan  AFG  1966             1091159.0
2      Afghanistan  AFG  1967             1281865.0
3      Afghanistan  AFG  1968             1223391.0
4      Afghanistan  AFG  1969              941232.0
...            ...  ...   ...                   ...
12865     Zimbabwe  ZWE  2015            12170460.0
12866     Zimbabwe  ZWE  2016            10814761.0
12867     Zimbabwe  ZWE  2017            10246841.0
12868     Zimbabwe  ZWE  2018            11340575.0
12869     Zimbabwe  ZWE  2019            10374287.0

[12870 rows x 4 columns]

### Data 6: Climate Action Tracker Emission Benchmark (Emission Intensity gCO2/kwh)

In [76]:
# Extract wanted columns and row
cat_transform = cat_rename.copy()
cat_transform

,Country,Year,IAM\npathways median,IAM\npathways p75,ETP B2DS,EWG & LUT,DDPP 2Â°C,PA\nFinal Benchmark,NaN
0,Table 3-1. Emissions intensity of electricity ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Emissions intensity g CO2 / kWh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country,Year,IAM\npathways median,IAM\npathways p75,ETP B2DS,EWG & LUT,DDPP 2Â°C,PA\nFinal Benchmark,NaN
4,NaN,2030,175,125,229,48,NaN,50-125,NaN
5,Global,2040,31,24,72,6,NaN,5-25,NaN
6,NaN,2050,5,-5,-8,0,NaN,<0,NaN
7,NaN,2030,186,132,323,29*,NaN,30-130,NaN
8,USA,2040,55,32,70,0*,NaN,0-32,NaN
9,NaN,2050,13,-4,-31,0*,35,<0,NaN
10,NaN,2030,113,77,78,82*,NaN,75-80,NaN
11,EU,2040,14,0,27,6*,NaN,0-5,NaN
12,NaN,2050,-25,-31,-30,0*,NaN,<0,NaN
13,NaN,2030,42,20,10,2*,32,0-20,NaN
14,Brazil,2040,-6,-11,11,0*,NaN,<0,NaN
15,NaN,2050,-17,-46,6,0*,0,<0,NaN
16,NaN,2030,241,156,256,114*,NaN,115-155,NaN
17,India,2040,18,3,97,0*,NaN,5,NaN
18,NaN,2050,-6,-22,32,0*,36,<0,NaN
19,NaN,2030,197,109,277,95*,450,100-110,NaN
20,China,2040,24,7,44,0*,NaN,0-5,NaN
21,NaN,2050,3,-1,-22,0*,68,<0,NaN
22,NaN,2030,447,377,304,47*,NaN,45-377,NaN
23,South Africa,2040,38,12,34,5*,NaN,5-10,NaN
24,NaN,2050,-3,-21,12,0*,35,<0,NaN
25,NaN,2030,303,256,NaN,50*,400,50-255,NaN
26,Indonesia,2040,45,32,NaN,5*,NaN,5-30,NaN
27,NaN,2050,7,-11,NaN,0*,68,<0,NaN
28,"Figure 3-1 shows the range, median and 75th pe...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"Table 3-1 shows the 2030, 2040 and 2050 Paris ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,"For each scenario and country, the share of re...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Our definition of â€˜renewable energyâ€™ in this c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,As with the variation in the overall fuel mix ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"Results:\nFigure 3-2 shows the range, median, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Figure 3-2. Share of renewable energy sources ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
# List the columns 
list(cat_transform.columns)

['Country',
 'Year',
 'IAM\npathways median',
 'IAM\npathways p75',
 'ETP B2DS',
 'EWG & LUT',
 'DDPP 2Â°C',
 'PA\nFinal Benchmark',
 nan]

In [78]:
# Pull out the needed columns
cat_columns = ["Country", "Year", "PA\nFinal Benchmark"]
cat_extracted = cat_transform[cat_columns]
cat_extracted

,Country,Year,PA\nFinal Benchmark
0,Table 3-1. Emissions intensity of electricity ...,NaN,NaN
1,NaN,NaN,NaN
2,Emissions intensity g CO2 / kWh,NaN,NaN
3,Country,Year,PA\nFinal Benchmark
4,NaN,2030,50-125
5,Global,2040,5-25
6,NaN,2050,<0
7,NaN,2030,30-130
8,USA,2040,0-32
9,NaN,2050,<0
10,NaN,2030,75-80
11,EU,2040,0-5
12,NaN,2050,<0
13,NaN,2030,0-20
14,Brazil,2040,<0
15,NaN,2050,<0
16,NaN,2030,115-155
17,India,2040,5
18,NaN,2050,<0
19,NaN,2030,100-110
20,China,2040,0-5
21,NaN,2050,<0
22,NaN,2030,45-377
23,South Africa,2040,5-10
24,NaN,2050,<0
25,NaN,2030,50-255
26,Indonesia,2040,5-30
27,NaN,2050,<0
28,"Figure 3-1 shows the range, median and 75th pe...",NaN,NaN
29,"Table 3-1 shows the 2030, 2040 and 2050 Paris ...",NaN,NaN
30,"For each scenario and country, the share of re...",NaN,NaN
31,Our definition of â€˜renewable energyâ€™ in this c...,NaN,NaN
32,As with the variation in the overall fuel mix ...,NaN,NaN
33,"Results:\nFigure 3-2 shows the range, median, ...",NaN,NaN
34,Figure 3-2. Share of renewable energy sources ...,NaN,NaN
35,NaN,NaN,NaN
36,NaN,NaN,NaN

In [79]:
# Remove unneeded rows
cat_clean = cat_extracted.drop([0, 1, 2, 3, 28, 29, 30, 31, 32, 33, 34, 35, 36])
cat_clean

         Country  Year PA\nFinal Benchmark
4            NaN  2030              50-125
5         Global  2040                5-25
6            NaN  2050                  <0
7            NaN  2030              30-130
8            USA  2040                0-32
9            NaN  2050                  <0
10           NaN  2030               75-80
11            EU  2040                 0-5
12           NaN  2050                  <0
13           NaN  2030                0-20
14        Brazil  2040                  <0
15           NaN  2050                  <0
16           NaN  2030             115-155
17         India  2040                   5
18           NaN  2050                  <0
19           NaN  2030             100-110
20         China  2040                 0-5
21           NaN  2050                  <0
22           NaN  2030              45-377
23  South Africa  2040                5-10
24           NaN  2050                  <0
25           NaN  2030              50-255
26     Indonesia  2040                5-30
27           NaN  2050                  <0

In [80]:
cat_clean.reset_index(drop=True)

         Country  Year PA\nFinal Benchmark
0            NaN  2030              50-125
1         Global  2040                5-25
2            NaN  2050                  <0
3            NaN  2030              30-130
4            USA  2040                0-32
5            NaN  2050                  <0
6            NaN  2030               75-80
7             EU  2040                 0-5
8            NaN  2050                  <0
9            NaN  2030                0-20
10        Brazil  2040                  <0
11           NaN  2050                  <0
12           NaN  2030             115-155
13         India  2040                   5
14           NaN  2050                  <0
15           NaN  2030             100-110
16         China  2040                 0-5
17           NaN  2050                  <0
18           NaN  2030              45-377
19  South Africa  2040                5-10
20           NaN  2050                  <0
21           NaN  2030              50-255
22     Indonesia  2040                5-30
23           NaN  2050                  <0

In [81]:
# Create a column with new countries' names
cat_clean["country"] = ["Global", "Global", "Global", 
                       "US", "US", "US", "EU", "EU", "EU",
                       "Brazil", "Brazil", "Brazil",
                       "India", "India", "India",
                       "China", "China", "China",
                       "South Africa", "South Africa", "South Africa",
                       "Indonesia", "Indonesia", "Indonesia"]
cat_clean

         Country  Year PA\nFinal Benchmark       country
4            NaN  2030              50-125        Global
5         Global  2040                5-25        Global
6            NaN  2050                  <0        Global
7            NaN  2030              30-130            US
8            USA  2040                0-32            US
9            NaN  2050                  <0            US
10           NaN  2030               75-80            EU
11            EU  2040                 0-5            EU
12           NaN  2050                  <0            EU
13           NaN  2030                0-20        Brazil
14        Brazil  2040                  <0        Brazil
15           NaN  2050                  <0        Brazil
16           NaN  2030             115-155         India
17         India  2040                   5         India
18           NaN  2050                  <0         India
19           NaN  2030             100-110         China
20         China  2040                 0-5         China
21           NaN  2050                  <0         China
22           NaN  2030              45-377  South Africa
23  South Africa  2040                5-10  South Africa
24           NaN  2050                  <0  South Africa
25           NaN  2030              50-255     Indonesia
26     Indonesia  2040                5-30     Indonesia
27           NaN  2050                  <0     Indonesia

In [82]:
# Drop the origin country column
cat_clean = cat_clean.drop(columns = ["Country"])
cat_clean

    Year PA\nFinal Benchmark       country
4   2030              50-125        Global
5   2040                5-25        Global
6   2050                  <0        Global
7   2030              30-130            US
8   2040                0-32            US
9   2050                  <0            US
10  2030               75-80            EU
11  2040                 0-5            EU
12  2050                  <0            EU
13  2030                0-20        Brazil
14  2040                  <0        Brazil
15  2050                  <0        Brazil
16  2030             115-155         India
17  2040                   5         India
18  2050                  <0         India
19  2030             100-110         China
20  2040                 0-5         China
21  2050                  <0         China
22  2030              45-377  South Africa
23  2040                5-10  South Africa
24  2050                  <0  South Africa
25  2030              50-255     Indonesia
26  2040                5-30     Indonesia
27  2050                  <0     Indonesia

In [83]:
# Move the new country column to the front
col_name = "country"
first_col = cat_clean.pop(col_name)
cat_clean.insert(0, col_name, first_col)
cat_clean

         country  Year PA\nFinal Benchmark
4         Global  2030              50-125
5         Global  2040                5-25
6         Global  2050                  <0
7             US  2030              30-130
8             US  2040                0-32
9             US  2050                  <0
10            EU  2030               75-80
11            EU  2040                 0-5
12            EU  2050                  <0
13        Brazil  2030                0-20
14        Brazil  2040                  <0
15        Brazil  2050                  <0
16         India  2030             115-155
17         India  2040                   5
18         India  2050                  <0
19         China  2030             100-110
20         China  2040                 0-5
21         China  2050                  <0
22  South Africa  2030              45-377
23  South Africa  2040                5-10
24  South Africa  2050                  <0
25     Indonesia  2030              50-255
26     Indonesia  2040                5-30
27     Indonesia  2050                  <0

In [85]:
# Reset index and rename
cat_clean = cat_clean.rename(columns={ "Year":"year","PA\nFinal Benchmark": "benchmark"})
cat_clean.reset_index(drop=True)

         country  year benchmark
0         Global  2030    50-125
1         Global  2040      5-25
2         Global  2050        <0
3             US  2030    30-130
4             US  2040      0-32
5             US  2050        <0
6             EU  2030     75-80
7             EU  2040       0-5
8             EU  2050        <0
9         Brazil  2030      0-20
10        Brazil  2040        <0
11        Brazil  2050        <0
12         India  2030   115-155
13         India  2040         5
14         India  2050        <0
15         China  2030   100-110
16         China  2040       0-5
17         China  2050        <0
18  South Africa  2030    45-377
19  South Africa  2040      5-10
20  South Africa  2050        <0
21     Indonesia  2030    50-255
22     Indonesia  2040      5-30
23     Indonesia  2050        <0