In [1]:
# Import dependencies
import pandas as pd
from pyxlsb import open_workbook

from sqlalchemy import create_engine

# Extract Data Into DataFrames

### Data 1: bp.com Dataset on Primary Energy Consumption (Exajoules)

In [2]:
# Import data file
bp_pe_file = "raw_data/bp-stats-review-2020-all-data.xlsx"

bp_pe = pd.read_excel(bp_pe_file, "Primary Energy Consumption", engine="openpyxl")

# Rename the columns with value from the second row
bp_pe_rename = bp_pe.rename(columns=bp_pe.iloc[1])
display(bp_pe_rename.head(5))
display(bp_pe_rename.tail(5))

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.00000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.99365,13.936678,14.109482,14.349534,14.214058,-0.00944118,0.00640355,0.0243434,NaN,NaN
4,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.68830,7.785419,7.895341,7.833322,7.720742,-0.0143718,0.00905657,0.0132227,NaN,NaN

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data 2: bp.com Dataset on Renewable Energy Consumption (Exajoules)

In [3]:
# Import data file
bp_rc_file = "raw_data/bp-stats-review-2020-all-data.xlsx"

bp_rc = pd.read_excel(bp_rc_file, "Renewables Consumption - EJ", engine="openpyxl")

# Rename the columns with value from the second row
bp_rc_rename = bp_rc.rename(columns=bp_rc.iloc[1])
display(bp_rc_rename.head(5))
display(bp_rc_rename.tail(5))

,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.00000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.437742,0.488314,0.492008,0.503491,0.523399,0.0395406,0.134528,0.0180629,NaN,NaN
4,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00161,...,0.157067,0.170452,0.184147,0.216463,0.345292,0.595155,0.102784,0.0119163,NaN,NaN

,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
117,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"USSR includesCIS, Georgia, Ukraine and the Bal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data 3: bp.com Dataset on Carbon Dioxide Emissions (Million tonnes of co2)

In [4]:
# Import data file
bp_co2_file = "raw_data/bp-stats-review-2020-all-data.xlsx"

bp_co2 = pd.read_excel(bp_co2_file, "Carbon Dioxide Emissions", engine="openpyxl")

# Rename the columns with value from the second row
bp_co2_rename = bp_co2.rename(columns=bp_rc.iloc[1])
display(bp_co2_rename.head(5))
display(bp_co2_rename.tail(5))

,Carbon Dioxide Emissions,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Million tonnes of carbon dioxide,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,260.332557,271.698929,285.537480,308.284201,320.447741,344.908460,351.586651,367.977437,386.717056,...,546.233373,537.777358,549.107572,565.635679,556.188552,-0.0167018,0.00360727,0.0162776,NaN,NaN
4,Mexico,62.134189,65.056561,66.648353,72.171786,79.107628,84.173086,89.462540,99.668266,107.674113,...,463.121335,468.791476,476.945856,466.575628,454.972919,-0.0248678,0.00767418,0.0133154,NaN,NaN

,Carbon Dioxide Emissions,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# The end rows
bp_co2_rename.iloc[109:113]

,Carbon Dioxide Emissions,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
109,Total World,11207.741166,11725.313885,12084.725642,12743.051213,13530.939823,14312.868023,14788.378466,15495.494674,16345.050954,...,32787.197673,32936.066036,33279.491334,34007.891035,34169.000782,0.00473742,0.01135,1,NaN,NaN
110,of which: OECD,7703.189788,8015.802519,8280.964807,8804.452103,9334.098624,9790.467330,9939.548583,10374.748717,10951.592467,...,12347.757144,12270.063080,12300.248087,12372.332978,12011.955351,-0.0291277,-0.00820892,0.351545,NaN,NaN
111,Non-OECD,3504.551378,3709.511366,3803.760835,3938.599110,4196.841199,4522.400693,4848.829883,5120.745957,5393.458487,...,20439.440529,20666.002956,20979.243247,21635.558057,22157.045431,0.0241033,0.0247495,0.648455,NaN,NaN
112,European Union #,3304.482212,3344.123377,3412.149716,3613.583730,3855.707414,4056.978118,4106.837161,4244.459029,4459.940511,...,3486.935193,3498.502547,3527.146451,3466.482504,3330.444758,-0.0392437,-0.0177558,0.0974698,NaN,NaN

### Data 4: Annual CO2 Emissions by Region

In [6]:
# Import data file
co2_file = "raw_data/annual-co-emissions-by-region.csv"

co2_df = pd.read_csv(co2_file)
display(co2_df.head(5))
display(co2_df.tail(5))

        Entity Code  Year  Annual CO2 emissions
0  Afghanistan  AFG  1750                   0.0
1  Afghanistan  AFG  1751                   0.0
2  Afghanistan  AFG  1752                   0.0
3  Afghanistan  AFG  1753                   0.0
4  Afghanistan  AFG  1754                   0.0

         Entity Code  Year  Annual CO2 emissions
63175  Zimbabwe  ZWE  2015            12170460.0
63176  Zimbabwe  ZWE  2016            10814761.0
63177  Zimbabwe  ZWE  2017            10246841.0
63178  Zimbabwe  ZWE  2018            11340575.0
63179  Zimbabwe  ZWE  2019            10374287.0

### Data 5: Annual GHG Emissions by Region

In [7]:
# Import data file
ghg_file = "raw_data/total-ghg-emissions.csv"

ghg_df = pd.read_csv(co2_file)
display(ghg_df.head(5))
display(ghg_df.tail(5))

        Entity Code  Year  Annual CO2 emissions
0  Afghanistan  AFG  1750                   0.0
1  Afghanistan  AFG  1751                   0.0
2  Afghanistan  AFG  1752                   0.0
3  Afghanistan  AFG  1753                   0.0
4  Afghanistan  AFG  1754                   0.0

         Entity Code  Year  Annual CO2 emissions
63175  Zimbabwe  ZWE  2015            12170460.0
63176  Zimbabwe  ZWE  2016            10814761.0
63177  Zimbabwe  ZWE  2017            10246841.0
63178  Zimbabwe  ZWE  2018            11340575.0
63179  Zimbabwe  ZWE  2019            10374287.0

# Transform Data

### Data 1: bp.com Dataset on Primary Energy Consumption (Exajoules)

In [8]:
# Extract wanted columns
bp_ec_df = bp_pe_rename.copy()
bp_ec_df.head()

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.00000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.99365,13.936678,14.109482,14.349534,14.214058,-0.00944118,0.00640355,0.0243434,NaN,NaN
4,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.68830,7.785419,7.895341,7.833322,7.720742,-0.0143718,0.00905657,0.0132227,NaN,NaN

In [9]:
# Renaming the same name columns (2019) by creating specific name columns and duplicating the according data row
bp_ec_df ["2019_share"] = bp_ec_df.iloc [:,58]
bp_ec_df ["2019_growth_rate_per_annum"] = bp_ec_df.iloc [:,56]
bp_ec_df ["2019_year"] = bp_ec_df.iloc[:,55]
bp_ec_df.head()

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2018.0,2019.0,2019,2008-18,2019,NaN,NaN,2019_share,2019_growth_rate_per_annum,2019_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN,Share,Growth rate per annum,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN,2019,2019,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,14.349534,14.214058,-0.00944118,0.00640355,0.0243434,NaN,NaN,0.0243434,-0.00944118,14.214058
4,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.833322,7.720742,-0.0143718,0.00905657,0.0132227,NaN,NaN,0.0132227,-0.0143718,7.720742

In [10]:
# Get a list of the column names and select the wanted columns 
ls = list(bp_ec_df.columns)
ls

['Exajoules',
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2019.0,
 2019,
 '2008-18',
 2019,
 nan,
 nan,
 '2019_share',
 '2019_growth_rate_per_annum',
 '2019_year']

In [11]:
# Select the wanted columns 
columns=['Exajoules',
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 '2019_year']
bp_ec_df = bp_ec_df[columns]
bp_ec_df

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.00000,2016.000000,2017.000000,2018.000000,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.006501,13.605144,13.468474,13.881791,14.031964,13.99365,13.936678,14.109482,14.349534,14.214058
4,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.308951,7.660041,7.705558,7.738309,7.697182,7.68830,7.785419,7.895341,7.833322,7.720742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Rename the fist and 2008-2018 column
bp_ec_df = bp_ec_df.rename(columns={bp_ec_df.columns[0]: "country",
                                                  bp_ec_df.columns[55]: 2019.0})
bp_ec_df

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.00000,2016.000000,2017.000000,2018.000000,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.006501,13.605144,13.468474,13.881791,14.031964,13.99365,13.936678,14.109482,14.349534,14.214058
4,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.308951,7.660041,7.705558,7.738309,7.697182,7.68830,7.785419,7.895341,7.833322,7.720742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Dropping nan
bp_ec_cleaned = bp_ec_df.dropna(how="all")
bp_ec_cleaned = bp_ec_cleaned.reset_index(drop=True)
bp_ec_cleaned

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000
1,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.006501,13.605144,13.468474,13.881791,14.031964,13.993650,13.936678,14.109482,14.349534,14.214058
2,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.308951,7.660041,7.705558,7.738309,7.697182,7.688300,7.785419,7.895341,7.833322,7.720742
3,US,52.433795,55.383038,57.311776,60.799094,64.049612,66.215508,67.591944,71.064330,73.984875,...,92.972589,92.088362,89.687765,92.095480,93.054168,92.149004,92.017799,92.330525,95.602919,94.648804
4,Total North America,58.408365,61.733704,63.924460,67.868147,71.589254,74.284923,75.943920,80.093438,83.655181,...,113.288041,113.353546,110.861798,113.715579,114.783314,113.830955,113.739897,114.335348,117.785775,116.583604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,^ Less than 0.005.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,w Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,"# Excludes Estonia, Latvia and Lithuania prio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Check to see which end rows to remove
bp_ec_cleaned.tail(10)

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
101,of which: OECD,109.753966,115.209593,119.757756,127.763797,136.313939,143.811047,147.698668,155.275737,163.937237,...,233.035666,230.634676,228.161281,230.256120,228.305757,228.749984,229.643269,231.838724,235.388791,233.433815
102,Non-OECD,45.936972,48.887620,50.516755,52.883078,56.543340,61.196032,65.658486,69.656898,73.946642,...,272.988472,287.676151,296.820411,304.651826,310.944035,314.424915,320.958067,328.582851,340.840019,350.465162
103,European Union #,42.093184,43.282622,44.509488,47.391263,50.927589,54.195380,55.464640,58.120014,61.375230,...,74.152190,71.688762,71.043914,70.449605,67.712970,68.517875,69.136028,69.910232,69.806435,68.806269
104,"* In this review, primary energy comprises com...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Energy from all sources of non-fossil power ge...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,^ Less than 0.005.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,w Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,"# Excludes Estonia, Latvia and Lithuania prio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Remove unneeded rows
bp_ec_all_cleaned = bp_ec_cleaned.drop([0, 104, 105, 106, 107, 108, 109, 110])
bp_ec_all_cleaned = bp_ec_all_cleaned.reset_index(drop=True)
bp_ec_all_cleaned

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.006501,13.605144,13.468474,13.881791,14.031964,13.993650,13.936678,14.109482,14.349534,14.214058
1,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.308951,7.660041,7.705558,7.738309,7.697182,7.688300,7.785419,7.895341,7.833322,7.720742
2,US,52.433795,55.383038,57.311776,60.799094,64.049612,66.215508,67.591944,71.064330,73.984875,...,92.972589,92.088362,89.687765,92.095480,93.054168,92.149004,92.017799,92.330525,95.602919,94.648804
3,Total North America,58.408365,61.733704,63.924460,67.868147,71.589254,74.284923,75.943920,80.093438,83.655181,...,113.288041,113.353546,110.861798,113.715579,114.783314,113.830955,113.739897,114.335348,117.785775,116.583604
4,Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212762,1.288378,1.311442,1.367910,...,3.227137,3.289076,3.382872,3.524577,3.506861,3.585803,3.576195,3.566920,3.540866,3.462769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Total Asia Pacific,18.619358,20.292629,21.252997,22.904978,26.029859,29.635096,32.456915,34.377961,37.134012,...,196.804043,207.333595,214.015191,220.599057,225.154475,228.625428,233.129381,240.065902,249.351570,257.559918
99,Total World,155.690938,164.097213,170.274511,180.646875,192.857279,205.007079,213.357154,224.932635,237.883880,...,506.024137,518.310827,524.981692,534.907946,539.249792,543.174900,550.601336,560.421575,576.228810,583.898977
100,of which: OECD,109.753966,115.209593,119.757756,127.763797,136.313939,143.811047,147.698668,155.275737,163.937237,...,233.035666,230.634676,228.161281,230.256120,228.305757,228.749984,229.643269,231.838724,235.388791,233.433815
101,Non-OECD,45.936972,48.887620,50.516755,52.883078,56.543340,61.196032,65.658486,69.656898,73.946642,...,272.988472,287.676151,296.820411,304.651826,310.944035,314.424915,320.958067,328.582851,340.840019,350.465162
102,European Union #,42.093184,43.282622,44.509488,47.391263,50.927589,54.195380,55.464640,58.120014,61.375230,...,74.152190,71.688762,71.043914,70.449605,67.712970,68.517875,69.136028,69.910232,69.806435,68.806269

### Data 2: bp.com Dataset on Renewable Energy Consumption (Exajoules)

In [16]:
# Extract wanted columns
bp_rc_df = bp_rc_rename.copy()

# Renaming the same name columns (2019) by creating specific name columns and duplicating the according data row
bp_rc_df ["2019_share"] = bp_rc_df.iloc [:,58]
bp_rc_df ["2019_growth_rate_per_annum"] = bp_rc_df.iloc [:,56]
bp_rc_df ["2019_year"] = bp_rc_df.iloc[:,55]
bp_rc_df

,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2018.0,2019.0,2019,2008-18,2019,NaN,NaN,2019_share,2019_growth_rate_per_annum,2019_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN,Share,Growth rate per annum,NaN
1,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.00000,...,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN,2019,2019,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.503491,0.523399,0.0395406,0.134528,0.0180629,NaN,NaN,0.0180629,0.0395406,0.523399
4,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00161,...,0.216463,0.345292,0.595155,0.102784,0.0119163,NaN,NaN,0.0119163,0.595155,0.345292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"USSR includesCIS, Georgia, Ukraine and the Bal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Get a list of the column names
rc_ls = list(bp_rc_df.columns)
rc_ls

['Exajoules (input-equivalent)',
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2019.0,
 2019,
 '2008-18',
 2019,
 nan,
 nan,
 '2019_share',
 '2019_growth_rate_per_annum',
 '2019_year']

In [18]:
# Select the wanted columns
rc_columns=['Exajoules (input-equivalent)',
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
'2019_year',
]
bp_rc_df = bp_rc_df[rc_columns]
bp_rc_df

,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.00000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.216234,0.250820,0.278884,0.290927,0.303300,0.437742,0.488314,0.492008,0.503491,0.523399
4,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00161,...,0.086040,0.088399,0.102050,0.111551,0.133273,0.157067,0.170452,0.184147,0.216463,0.345292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"USSR includesCIS, Georgia, Ukraine and the Bal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Rename the fist and 2008-2018 column
bp_rc_df = bp_rc_df.rename(columns={bp_rc_df.columns[0]: "country", bp_rc_df.columns[55]: 2019.0})
bp_rc_df

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.00000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.216234,0.250820,0.278884,0.290927,0.303300,0.437742,0.488314,0.492008,0.503491,0.523399
4,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00161,...,0.086040,0.088399,0.102050,0.111551,0.133273,0.157067,0.170452,0.184147,0.216463,0.345292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"USSR includesCIS, Georgia, Ukraine and the Bal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Dropping nan
bp_rc_cleaned = bp_rc_df.dropna(how="all")
bp_rc_cleaned = bp_rc_cleaned.reset_index(drop=True)
bp_rc_cleaned

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Exajoules (input-equivalent),1965.000000,1966.00000,1967.000000,1968.00000,1969.000000,1970.000000,1971.000000,1972.00000,1973.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000
1,Canada,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.216234,0.250820,0.278884,0.290927,0.303300,0.437742,0.488314,0.492008,0.503491,0.523399
2,Mexico,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.001610,...,0.086040,0.088399,0.102050,0.111551,0.133273,0.157067,0.170452,0.184147,0.216463,0.345292
3,US,0.133322,0.14062,0.140736,0.15546,0.162271,0.162359,0.165844,0.18673,0.199897,...,2.756646,3.090966,3.325100,3.756286,4.039290,4.248825,4.807667,5.239283,5.503936,5.828555
4,Total North America,0.133322,0.14062,0.140736,0.15546,0.162271,0.162359,0.165844,0.18673,0.201507,...,3.058920,3.430186,3.706035,4.158765,4.475862,4.843633,5.466434,5.915439,6.223889,6.697246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,"USSR includesCIS, Georgia, Ukraine and the Bal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Check to see which end rows to remove
bp_rc_cleaned.tail(10)

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
102,Non-OECD,0.034327,0.035011,0.035672,0.036319,0.036966,0.047357,0.066391,0.071118,0.071310,...,2.579372,2.963241,3.472520,4.243674,5.091138,5.899018,7.096202,8.712925,10.553881,12.205708
103,European Union #,0.029090,0.039790,0.043160,0.048180,0.052430,0.069403,0.070579,0.069259,0.074422,...,3.376245,3.980388,4.615612,5.023238,5.383986,6.023025,6.050515,6.692393,6.969224,7.541291
104,*Based on gross generation and not accounting...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Details on thermal efficiency assumptions are ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,^ Less than 0.05.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,"USSR includesCIS, Georgia, Ukraine and the Bal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Remove unneeded rows
bp_rc_all_cleaned = bp_rc_cleaned.drop([0, 104, 105, 106, 107, 108, 109, 110, 111])
bp_rc_all_cleaned = bp_rc_all_cleaned.reset_index(drop=True)
bp_rc_all_cleaned

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Canada,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.216234,0.250820,0.278884,0.290927,0.303300,0.437742,0.488314,0.492008,0.503491,0.523399
1,Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001610,...,0.086040,0.088399,0.102050,0.111551,0.133273,0.157067,0.170452,0.184147,0.216463,0.345292
2,US,0.133322,0.140620,0.140736,0.155460,0.162271,0.162359,0.165844,0.186730,0.199897,...,2.756646,3.090966,3.325100,3.756286,4.039290,4.248825,4.807667,5.239283,5.503936,5.828555
3,Total North America,0.133322,0.140620,0.140736,0.155460,0.162271,0.162359,0.165844,0.186730,0.201507,...,3.058920,3.430186,3.706035,4.158765,4.475862,4.843633,5.466434,5.915439,6.223889,6.697246
4,Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000475,0.000499,0.000644,0.000490,...,0.040601,0.052376,0.065415,0.070381,0.077710,0.082616,0.081679,0.094728,0.100514,0.138995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Total Asia Pacific,0.016440,0.016430,0.014240,0.015770,0.016080,0.017767,0.017546,0.017856,0.018350,...,1.953708,2.379845,2.840311,3.491201,4.214132,4.845924,5.957339,7.532352,9.285780,10.814118
99,Total World,0.214179,0.233071,0.235538,0.257519,0.269545,0.298667,0.322760,0.347499,0.368311,...,9.699337,11.120646,12.604510,14.360242,16.027352,18.081068,20.057078,23.036529,25.825912,28.976463
100,of which: OECD,0.179852,0.198060,0.199866,0.221200,0.232580,0.251310,0.256369,0.276382,0.297001,...,7.119965,8.157404,9.131990,10.116568,10.936214,12.182050,12.960876,14.323605,15.272031,16.770755
101,Non-OECD,0.034327,0.035011,0.035672,0.036319,0.036966,0.047357,0.066391,0.071118,0.071310,...,2.579372,2.963241,3.472520,4.243674,5.091138,5.899018,7.096202,8.712925,10.553881,12.205708
102,European Union #,0.029090,0.039790,0.043160,0.048180,0.052430,0.069403,0.070579,0.069259,0.074422,...,3.376245,3.980388,4.615612,5.023238,5.383986,6.023025,6.050515,6.692393,6.969224,7.541291

### Data 1&2: bp.com Dataset Primary Energy Consumption (Exajoules) - Renewable Consumption (Exajoules)

In [23]:
# Reset index for the two cleaned df 
bp_ec_all_cleaned.set_index("country", inplace=True)

In [24]:
bp_rc_all_cleaned.set_index("country", inplace=True)

#### Nonrewable energy consumption (Exajoules)

In [25]:
# Subtract primary energy consumption df by renewable energy consumption
bp_nonrewablec = bp_ec_all_cleaned.subtract(bp_rc_all_cleaned)
bp_nonrewablec

,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
country,,,,,,,,,,,,,,,,,,,,,
Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,8.099354,...,12.790267,13.354323,13.189590,13.590863,13.728664,13.555908,13.448364,13.617474,13.846043,13.690659
Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.811085,1.992142,...,7.222912,7.571642,7.603508,7.626757,7.563910,7.531233,7.614967,7.711194,7.616859,7.375450
US,52.300473,55.242418,57.171040,60.643634,63.887342,66.053149,67.426099,70.877600,73.784978,71.916904,...,90.215943,88.997395,86.362665,88.339194,89.014878,87.900180,87.210132,87.091241,90.098983,88.820249
Total North America,58.275043,61.593084,63.783724,67.712687,71.426984,74.122564,75.778076,79.906708,83.453675,82.008400,...,110.229121,109.923361,107.155763,109.556815,110.307452,108.987321,108.273463,108.419909,111.561886,109.886358
Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212287,1.287880,1.310799,1.367420,1.427035,...,3.186537,3.236700,3.317457,3.454196,3.429151,3.503187,3.494517,3.472192,3.440353,3.323775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,18.602918,20.276199,21.238757,22.889208,26.013779,29.617329,32.439369,34.360105,37.115662,37.907122,...,194.850335,204.953750,211.174881,217.107857,220.940343,223.779504,227.172042,232.533550,240.065790,246.745800
Total World,155.476758,163.864141,170.038973,180.389356,192.587734,204.708413,213.034394,224.585136,237.515569,238.777227,...,496.324801,507.190181,512.377182,520.547704,523.222440,525.093831,530.544258,537.385046,550.402897,554.922514
of which: OECD,109.574113,115.011533,119.557890,127.542597,136.081359,143.559737,147.442299,154.999355,163.640237,161.365859,...,225.915701,222.477271,219.029291,220.139552,217.369543,216.567934,216.682393,217.515120,220.116760,216.663061
Non-OECD,45.902645,48.852609,50.481083,52.846759,56.506375,61.148675,65.592095,69.585781,73.875332,77.411368,...,270.409100,284.712910,293.347892,300.408152,305.852897,308.525897,313.861865,319.869926,330.286138,338.259454
European Union #,42.064094,43.242832,44.466328,47.343083,50.875159,54.125978,55.394062,58.050755,61.300808,60.288352,...,70.775945,67.708374,66.428302,65.426367,62.328984,62.494851,63.085514,63.217839,62.837211,61.264978