In [1]:
import pandas as pd

In [4]:
bp_all = pd.read_csv('bp_all.csv')
bp_all.head()

,country,1965.0_all_energy,1966.0_all_energy,1967.0_all_energy,1968.0_all_energy,1969.0_all_energy,1970.0_all_energy,1971.0_all_energy,1972.0_all_energy,1973.0_all_energy,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
0,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
1,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
2,US,52.433795,55.383038,57.311776,60.799094,64.049612,66.215508,67.591944,71.064330,73.984875,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
3,Total North America,58.408365,61.733704,63.924460,67.868147,71.589254,74.284923,75.943920,80.093438,83.655181,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
4,Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212762,1.288378,1.311442,1.367910,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271

In [5]:
emission_benchmarks = pd.read_csv('emission_benchmarks.csv')
emission_benchmarks.head()

  country     2030  2040 2050
0  Global   50-125  5-25   <0
1      US   30-130  0-32   <0
2      EU    75-80   0-5   <0
3  Brazil     0-20    <0   <0
4   India  115-155     5   <0

In [7]:
emission_goals = pd.read_csv('emission_goals.csv')
emission_goals.head()

,country,2030,2040,2050,1965.0_all_energy,1966.0_all_energy,1967.0_all_energy,1968.0_all_energy,1969.0_all_energy,1970.0_all_energy,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
0,Global,50-125,5-25,<0,155.690938,164.097213,170.274511,180.646875,192.857279,205.007079,...,31085.534841,31973.369818,32273.531532,32795.554106,32804.718691,32787.197673,32936.066036,33279.491334,34007.891035,34169.000782
1,US,30-130,0-32,<0,52.433795,55.383038,57.311776,60.799094,64.049612,66.215508,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
2,EU,75-80,0-5,<0,42.093184,43.282622,44.509488,47.391263,50.927589,54.195380,...,3922.934995,3800.361504,3737.698716,3653.468215,3445.591925,3486.935193,3498.502547,3527.146451,3466.482504,3330.444758
3,Brazil,0-20,<0,<0,0.969469,1.057605,1.095653,1.252840,1.367832,1.585817,...,398.324213,423.761618,442.858031,482.871255,503.779772,487.040178,450.367978,457.229289,442.250684,441.299916
4,India,115-155,5,<0,2.217659,2.285377,2.355911,2.517670,2.790898,2.729549,...,1660.654080,1735.150560,1848.132873,1929.353035,2083.540801,2149.379180,2242.892441,2329.816567,2452.501157,2480.354461

In [9]:
emissions = pd.read_csv('emissions.csv')
emissions.head()

,country,1965.0_co2_emission,1966.0_co2_emission,1967.0_co2_emission,1968.0_co2_emission,1969.0_co2_emission,1970.0_co2_emission,1971.0_co2_emission,1972.0_co2_emission,1973.0_co2_emission,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
0,Canada,260.332557,271.698929,285.537480,308.284201,320.447741,344.908460,351.586651,367.977437,386.717056,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
1,Mexico,62.134189,65.056561,66.648353,72.171786,79.107628,84.173086,89.462540,99.668266,107.674113,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
2,US,3480.084706,3675.466374,3772.622833,3994.225972,4170.119294,4298.208775,4340.724935,4564.699478,4764.400900,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
3,Total North America,3802.551452,4012.221864,4124.808666,4374.681960,4569.674663,4727.290321,4781.774126,5032.345181,5258.792068,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
4,Argentina,77.341494,79.579541,81.846331,84.239573,86.902914,80.535084,85.254058,86.741981,89.802171,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271

In [10]:
energy_consumption = pd.read_csv('energy_consumption.csv')
energy_consumption.head()

,country,1965.0_all_energy,1966.0_all_energy,1967.0_all_energy,1968.0_all_energy,1969.0_all_energy,1970.0_all_energy,1971.0_all_energy,1972.0_all_energy,1973.0_all_energy,...,2010.0_all_energy,2011.0_all_energy,2012.0_all_energy,2013.0_all_energy,2014.0_all_energy,2015.0_all_energy,2016.0_all_energy,2017.0_all_energy,2018.0_all_energy,2019.0_all_energy
0,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.006501,13.605144,13.468474,13.881791,14.031964,13.993650,13.936678,14.109482,14.349534,14.214058
1,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.308951,7.660041,7.705558,7.738309,7.697182,7.688300,7.785419,7.895341,7.833322,7.720742
2,US,52.433795,55.383038,57.311776,60.799094,64.049612,66.215508,67.591944,71.064330,73.984875,...,92.972589,92.088362,89.687765,92.095480,93.054168,92.149004,92.017799,92.330525,95.602919,94.648804
3,Total North America,58.408365,61.733704,63.924460,67.868147,71.589254,74.284923,75.943920,80.093438,83.655181,...,113.288041,113.353546,110.861798,113.715579,114.783314,113.830955,113.739897,114.335348,117.785775,116.583604
4,Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212762,1.288378,1.311442,1.367910,...,3.227137,3.289076,3.382872,3.524577,3.506861,3.585803,3.576195,3.566920,3.540866,3.462769

In [12]:
nonrenew_energy_types = pd.read_csv('nonrenew_energy_types.csv')
nonrenew_energy_types.head()

,country,1965.0_oil,1966.0_oil,1967.0_oil,1968.0_oil,1969.0_oil,1970.0_oil,1971.0_oil,1972.0_oil,1973.0_oil,...,2010.0_hydroelec,2011.0_hydroelec,2012.0_hydroelec,2013.0_hydroelec,2014.0_hydroelec,2015.0_hydroelec,2016.0_hydroelec,2017.0_hydroelec,2018.0_hydroelec,2019.0_hydroelec
0,Canada,2.314145,2.438144,2.603182,2.771255,2.885563,3.077281,3.160261,3.327598,3.511997,...,3.298275,3.505227,3.526113,3.611066,3.504354,3.480689,3.489418,3.551286,3.452600,3.405087
1,Mexico,0.642414,0.673178,0.720995,0.784022,0.828570,0.890909,0.944772,1.063847,1.138484,...,0.348784,0.338376,0.295899,0.258269,0.356323,0.281334,0.277911,0.286629,0.290660,0.212077
2,US,23.691820,24.875976,25.837584,27.630599,29.135607,30.300761,31.341842,33.863257,35.746102,...,2.414910,2.948938,2.541006,2.456755,2.343104,2.244484,2.387920,2.671260,2.590394,2.417207
3,Total North America,26.648378,27.987299,29.161761,31.185877,32.849741,34.268951,35.446876,38.254702,40.396583,...,6.061968,6.792542,6.363018,6.326090,6.203781,6.006506,6.155248,6.509175,6.333654,6.034371
4,Argentina,0.936501,0.966833,0.990672,1.011627,1.051134,0.943775,1.007910,1.009286,1.012744,...,0.380557,0.369822,0.341941,0.375127,0.374383,0.380414,0.346327,0.373887,0.372639,0.330427

In [14]:
nonrenew_energy_types_percent = pd.read_csv('nonrenew_energy_types_percent.csv')
nonrenew_energy_types_percent.head()

,country,1965.0_oil,1966.0_oil,1967.0_oil,1968.0_oil,1969.0_oil,1970.0_oil,1971.0_oil,1972.0_oil,1973.0_oil,...,2010.0_hydroelec,2011.0_hydroelec,2012.0_hydroelec,2013.0_hydroelec,2014.0_hydroelec,2015.0_hydroelec,2016.0_hydroelec,2017.0_hydroelec,2018.0_hydroelec,2019.0_hydroelec
0,Canada,46.994226,46.537504,47.501471,47.485066,46.647029,46.452460,46.256805,45.281816,44.695477,...,25.787379,26.247885,26.734064,26.569807,25.525819,25.676543,25.946783,26.078893,24.935642,24.871611
1,Mexico,61.167557,60.560947,63.665675,63.586718,61.208314,61.661683,62.156748,63.306676,62.862010,...,4.828850,4.468997,3.891613,3.386351,4.710831,3.735559,3.649536,3.717050,3.816012,2.875444
2,US,45.299437,45.030571,45.193483,45.562242,45.604663,45.873302,46.483249,47.777093,48.446313,...,2.676810,3.313511,2.942250,2.781047,2.632261,2.553446,2.738122,3.067197,2.875053,2.721459
3,Total North America,45.728629,45.439027,45.719753,46.056180,45.990659,46.232819,46.777218,47.874207,48.405996,...,5.499425,6.179344,5.938102,5.774255,5.624082,5.511197,5.684909,6.003672,5.677256,5.491466
4,Argentina,83.050271,82.982307,82.574890,81.501714,81.869629,77.850823,78.261232,76.997796,74.062432,...,11.942652,11.425882,10.307327,10.860024,10.917651,10.859070,9.910577,10.768035,10.831413,9.941329

In [15]:
nonrenewable_energy = pd.read_csv('nonrenewable_energy.csv')
nonrenewable_energy.head()

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,12.790267,13.354323,13.189590,13.590863,13.728664,13.555908,13.448364,13.617474,13.846043,13.690659
1,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.811085,...,7.222912,7.571642,7.603508,7.626757,7.563910,7.531233,7.614967,7.711194,7.616859,7.375450
2,US,52.300473,55.242418,57.171040,60.643634,63.887342,66.053149,67.426099,70.877600,73.784978,...,90.215943,88.997395,86.362665,88.339194,89.014878,87.900180,87.210132,87.091241,90.098983,88.820249
3,Total North America,58.275043,61.593084,63.783724,67.712687,71.426984,74.122564,75.778076,79.906708,83.453675,...,110.229121,109.923361,107.155763,109.556815,110.307452,108.987321,108.273463,108.419909,111.561886,109.886358
4,Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212287,1.287880,1.310799,1.367420,...,3.186537,3.236700,3.317457,3.454196,3.429151,3.503187,3.494517,3.472192,3.440353,3.323775

In [16]:
renewable_energy = pd.read_csv('renewable_energy.csv')
renewable_energy.head()

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Canada,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.216234,0.250820,0.278884,0.290927,0.303300,0.437742,0.488314,0.492008,0.503491,0.523399
1,Mexico,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.001610,...,0.086040,0.088399,0.102050,0.111551,0.133273,0.157067,0.170452,0.184147,0.216463,0.345292
2,US,0.133322,0.14062,0.140736,0.15546,0.162271,0.162359,0.165844,0.186730,0.199897,...,2.756646,3.090966,3.325100,3.756286,4.039290,4.248825,4.807667,5.239283,5.503936,5.828555
3,Total North America,0.133322,0.14062,0.140736,0.15546,0.162271,0.162359,0.165844,0.186730,0.201507,...,3.058920,3.430186,3.706035,4.158765,4.475862,4.843633,5.466434,5.915439,6.223889,6.697246
4,Argentina,0.000000,0.00000,0.000000,0.00000,0.000000,0.000475,0.000499,0.000644,0.000490,...,0.040601,0.052376,0.065415,0.070381,0.077710,0.082616,0.081679,0.094728,0.100514,0.138995

In [17]:
renewable_nonrenewable_breakdown_emissions = pd.read_csv('renewable_nonrenewable_breakdown_emissions.csv')
renewable_nonrenewable_breakdown_emissions.head()

,Unnamed: 0,1965.0_renewable,1966.0_renewable,1967.0_renewable,1968.0_renewable,1969.0_renewable,1970.0_renewable,1971.0_renewable,1972.0_renewable,1973.0_renewable,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
0,Canada,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
1,Mexico,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.001610,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
2,US,0.133322,0.14062,0.140736,0.15546,0.162271,0.162359,0.165844,0.186730,0.199897,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
3,Total North America,0.133322,0.14062,0.140736,0.15546,0.162271,0.162359,0.165844,0.186730,0.201507,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
4,Argentina,0.000000,0.00000,0.000000,0.00000,0.000000,0.000475,0.000499,0.000644,0.000490,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271

In [18]:
renewable_nonrenewable_breakdown_per_emissions = pd.read_csv('renewable_nonrenewable_breakdown_per_emissions.csv')
renewable_nonrenewable_breakdown_per_emissions.head()

,country,1965.0_oil,1966.0_oil,1967.0_oil,1968.0_oil,1969.0_oil,1970.0_oil,1971.0_oil,1972.0_oil,1973.0_oil,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
0,Canada,46.994226,46.537504,47.501471,47.485066,46.647029,46.452460,46.256805,45.281816,44.695477,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
1,Mexico,61.167557,60.560947,63.665675,63.586718,61.208314,61.661683,62.156748,63.306676,62.862010,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
2,US,45.299437,45.030571,45.193483,45.562242,45.604663,45.873302,46.483249,47.777093,48.446313,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
3,Total North America,45.728629,45.439027,45.719753,46.056180,45.990659,46.232819,46.777218,47.874207,48.405996,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
4,Argentina,83.050271,82.982307,82.574890,81.501714,81.869629,77.850823,78.261232,76.997796,74.062432,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271

In [20]:
renewable_percent = pd.read_csv('renewable_percent.csv')
renewable_percent.head()

,country,1965.0_renewable_per,1966.0_renewable_per,1967.0_renewable_per,1968.0_renewable_per,1969.0_renewable_per,1970.0_renewable_per,1971.0_renewable_per,1972.0_renewable_per,1973.0_renewable_per,...,2010.0_renewable_per,2011.0_renewable_per,2012.0_renewable_per,2013.0_renewable_per,2014.0_renewable_per,2015.0_renewable_per,2016.0_renewable_per,2017.0_renewable_per,2018.0_renewable_per,2019.0_renewable_per
0,Canada,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.662508,1.843570,2.070646,2.095749,2.161491,3.128147,3.503808,3.487075,3.508760,3.682263
1,Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.088818,...,1.177181,1.154025,1.324372,1.441544,1.731448,2.042931,2.189374,2.332349,2.763362,4.472264
2,US,0.254268,0.253905,0.245562,0.255695,0.253351,0.245198,0.245361,0.262762,0.270186,...,2.965010,3.356522,3.707417,4.078687,4.340794,4.610820,5.224715,5.674487,5.757079,6.158086
3,Total North America,0.228259,0.227785,0.220159,0.229062,0.226669,0.218563,0.218377,0.233140,0.240878,...,2.700126,3.026095,3.342932,3.657163,3.899402,4.255111,4.806083,5.173762,5.284076,5.744586
4,Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.039201,0.038703,0.049071,0.035852,...,1.258106,1.592416,1.933710,1.996855,2.215955,2.303979,2.283958,2.655742,2.838672,4.013971